[2016-02-05 09:52] codinguser commented on #467
You can get a context anywhere using `GnucashApplication.getAppContext()` ;)

[2016-02-05 10:12] alceurneto commented on #467
That's right! Thanks!

[2016-02-05 17:54] rivaldi8 opened #474 "Exchange rate limited to two decimal places when tranferring between accounts with different currencies"
The dialog that appears when a transaction transfers money between accounts with different currencies, doesn't allow to enter an exchange rate with more than 2 decimal places.

Reported through User Voice.

[2016-02-06 02:32] alceurneto commented on #467
Hello guys!

Please check the PR is OK.

Strictly speaking our update in version migration shifts last-export-time N hours earlier on time, where N is the absolute value of user time zone offset for all users. Some values extracted from my test logs when running `MigrationHelper`:

User time zone GMT-05:00 Eastern Standard Time:
`02-05 17:29:55.868 3759-3759/? D/PreferencesHelper: Retrieving '2016

[2016-02-06 12:31] rivaldi8 commented on #467
It looks alright to me, I've just made some minor comments inline. I've also made some (non-exhaustive) tests and it seems to be working fine.

[2016-02-06 12:55] alceurneto commented on #467
Thanks @rivaldi8.

[2016-02-06 14:35] codinguser commented on #467
@alceurneto I've had a quick look and it looks alright. Thanks for your work on this issue. :+1:

I thought just the `last_exported_time` was affected, but clearly the scope goes beyond that (which is good). Since it touches the `created_at` and `modified_at` timestamps, it would be good to know that exported transactions in XML still have valid (local) times for date_posted and date_entered. And

[2016-02-07 00:28] alceurneto commented on #467
@codinguser Thanks.

Yes. They are covered. I did some additional tests importing from GnuCash desktop (GCD) and importing to it again. The `date-posted` and `date-entered`seems to be working well.

Keep in mind that transactions entered on GCD receives arbitrary 00:00:00 local time:
[code]

When desktop and mobile have not the same time zone we could see things like:
- An Android device with `GMT

[2016-02-07 15:51] alceurneto commented on #467
@codinguser I think I've missed a test with OFX format. Sorry! I'll do it ASAP.

[2016-02-07 21:14] codinguser commented on #467
@alceurneto awesome :+1:

[2016-02-08 03:24] alceurneto commented on #467
I think there are no problems with OFX export.

`OfxHelper` uses a `SimpleDateFormat` with local time
[code]

But adds a suffix with time zone information this way:
[code]

The exported file contains:
[code]

When I imported the file on GnuCash desktop (GCD) the result didn't make sense to me but it's outside the scope this issue. The new transaction date was correct but the time is always a zero

[2016-02-08 11:09] codinguser commented on #467
That's correct, OFX includes timezone info. So I guess we need not worry about that.
No, QIF is the format used by default. OFX does not support double-entry transactions.

I will merge the pull request and make a beta release available so more people will test.
Thanks @alceurneto

[2016-02-08 11:56] alceurneto commented on #467
Perfect!

I'm thrilled to have helped the team.

[2016-02-08 12:15] codinguser commented on #467
We'd like to continue to have your help ;)

[2016-02-17 10:56] #202 closed

[2016-02-17 10:56] #462 closed

[2016-02-17 10:56] #464 closed

[2016-02-17 10:56] #467 closed

[2016-02-17 10:56] #473 closed

[2016-02-23 16:20] rivaldi8 commented on #474
Fixed in 2.0.6.

[2016-02-23 16:20] #474 closed

[2016-02-23 17:37] codinguser commented on #474
No, it's not fixed in v2.0.6. That was already released and propagating to all users.
It will be released in v2.0.7

[2016-02-23 18:13] rivaldi8 commented on #474
Oops! Sorry, I didn't notice.

[2016-02-23 18:48] codinguser commented on #474
No problemo :)

On Tue, Feb 23, 2016 at 7:13 PM, Àlex Magaz Graça <notifications@github.com>
wrote:

[2016-02-28 18:32] rivaldi8 opened #479 "Precision may be lost when saving the exchange rate in the database"
When the user enters an exchange rate, it's not saved directly. Instead, the
relation between the original amount and the converted amount is stored. As a
consequence, the exchange rate precision will depend on the precision of the
two currencies.

In addition, the converted amount is (wrongly) stored with the currency of the
original amount and rounded to its decimal places. If the original amoun

[2016-02-28 18:37] rivaldi8 commented on #479
I'm working on a fix.

By the way, should we be storing the exchange rate calculated from the user entered  converted amount? Given the precision problems, I'd rather store exchange rate only when the user enters it explicitly.

[2016-02-29 10:46] codinguser commented on #479
Thanks for catching this @rivaldi8
You're right, we try to compute the exchange rate even when it was explicity entered. I think we should save the exchange rate which the user entered. We should only compute the exchange rate when the user enters the converted amount directly.

And yes, we should still save the rate when the user only entered the converted amount. This is used for convenience the

[2016-03-07 18:59] artooy opened #481 "Failed to open .gnucash file on GnuCash for Android"
When I tried to import a recently updated .gnucash file on my phone the Android app says:
_"An error occured while importing the GnuCash accounts
foreign key constraint failed (code 19)"_
I updated the file with the PC version of GnuCash: 2.6.7 (rev 757a50c+ on 2015-06-29)
Android version is: 2.0.6 (2016-02-17)
On the PC it can be opened without errors.
I tried to upgrade to PC version 2.6.11 (rev

[2016-03-07 19:31] artooy commented on #481
In the meantime I realized that I tried to open an old version of my .gnucash file, probably a corrupt one. It is working with the (real) new file. Issue can be closed.

[2016-03-07 19:31] #481 closed

[2016-03-08 05:46] artooy opened #482 "Scheduled transactions are corrupted after import from .gnucash"
I have many scheduled transactions that are working fine on the desktop version. However, after importing to Android, the transactions are not working as defined. If I open transaction split in the Android version one side (the Asset part) of the balance is in the Imbalance account rather than in the correct account where I find 0 instead. This way only the Expense is counted correctly but the Ass

[2016-03-08 05:58] artooy commented on #482
Sorry, forgot to add some screenshots. I am using GnuCash for Android version 2.0.6

![screenshot_2016-03-08-06-53-48](https://cloud.githubusercontent.com/assets/17709238/13593369/f03a942e-e4fa-11e5-8703-86727c382054.png)

![screenshot_2016-03-08-06-53-34](https://cloud.githubusercontent.com/assets/17709238/13593370/f43295e0-e4fa-11e5-839b-f3156fbd6c3f.png)

![screenshot_2016-03-08-06-53-27](https

[2016-03-09 15:41] lxbzmy opened #483 "Help,How to use create_transaction intent?"
I want parse text SMS into payment data ,then insert into guncash. after view code ,".receivers.TransactionRecorder" maybe a way.

But How can i know  account's UID , in code use"args.getString(Transaction.EXTRA_ACCOUNT_UID);"

[2016-03-14 08:14] codinguser commented on #483
You make a good point. There is currently no way to retrieve an account UID
via an external app.
I will think about how to improve this in future releases. Such as letting
other apps query accounts/transactions.

On Wed, Mar 9, 2016 at 4:41 PM, Alex Lei 雷 <notifications@github.com> wrote:

[2016-03-14 08:35] zeorin commented on #435
I'd be totally willing to reinstall if it meant that I could get updated versions.

With regards to Google Play Services, there is a lot of work being done currently to try and address that on gapps-free/floss-only devices: https://github.com/microg/android_packages_apps_GmsCore/

In other words, despite depending on Google Play Services, it's still realistically possible that a non-gapps device c

[2016-03-15 02:15] lxbzmy commented on #483
Thanks a lot！

[2016-04-05 18:45] Blackhawke opened #485 "Export to Google Drive not working on Marshmallow"
I upgraded my Nexus 5 from CM12 to CM13, and just tried my first export of data. All the same notices appear (i.e. the "...exported to Google Drive GnuCash..." folder, or whatever it says, and I get no errors from the app, but the exported QIF is no where to be found. Fortunately, I don't let the app delete the transactions, so I still have them, but...

Having used CM13 for a couple of weeks now

[2016-04-05 18:48] Blackhawke opened #486 "Feature Request: Business functions"
My main use of the app is for work. I deal with vendors and customers all day, and the app already saves me a butt ton of bookkeeping work in the office at the end of the day. But there still *is* work, because anyplace I buy parts and supplies where I have an account can't be entered into the app. Nor can I attach those receipts to customers or job orders.

So I, for one, would really appreciate

[2016-04-08 05:18] dhwaneetbhatt commented on #485
I had a similar problem. I debugged a lot and finally my Drive history saved me - the app was creating a file indeed, but it was creating in a Gnucash folder which was in the bin (google drive bin). I restored the folder, merged the already existing previous folder and everything was good. I also use CM13 on my OnePlus One.

[2016-04-08 05:24] dhwaneetbhatt commented on #236
Credit Card is a type of "liability". So in a liability account, spending is increasing the liability, hence its adding to it, so it is green. Adding money to liability reduces it, so its red.

[2016-04-08 11:49] mnalis commented on #435
I for one don't care for nonfree 2.x  versions (but it does not seem right to be using GNU name then!),  but would like to keep installing last free 1.x series from f-droid (as it contains all the features I need).

Would it be possible that 1.x remain in f-droid repo (it is completely removed and unavailable right now)?

[2016-04-08 12:16] zeorin commented on #435
[MyExpenses](https://f-droid.org/repository/browse/?fdid=org.totschnig.myexpenses) can apparently export to GnuCash Desktop, but I haven't tried it. Otherwise, the old GnuCash version is available in the archive F-Droid repo. Add that repo (https://f-droid.org/archive/), install GnuCash, and disable the repo (that way it doesn't add noise to the available version lists for other apps and it will n

[2016-04-08 23:10] superdarrell2 opened #487 "Feature request: Sort accounts"
One of the mainstay of GnuCash's main accounts view is the ability to sort accounts based on name, account code etc. Personally, I used account code to reorder the accounts to my liking.

It would be nice to be able to sort the GnuCash Android accounts so that it'd be more reflective of the account orders users are used to on the desktop.

[2016-04-09 07:42] mvdan commented on #435
Indeed, we usually just move deliberately obsolete apps to the archive.

[2016-04-10 01:53] janilcgarcia opened #488 "Feature request: Encrypted exports"
Why, I hope I'm not asking for something that already exists, but... Can the app export encrypted files? OFX files, but encrypted with a password, maybe using AES?

If it doesn't already have that the feature, it would be welcomed here?

[2016-04-10 22:55] mnalis commented on #435
thanks, f-droid.org/archive works fine

[2016-04-13 06:41] codinguser commented on #487
The accounts are currently sorted by full name.  Or do you mean the short
name?

Also,  what do you mean by account code?
On Apr 9, 2016 1:10 AM, "Darrell Loh" <notifications@github.com> wrote:

[2016-04-13 06:44] codinguser commented on #485
That doesn't sound good at all.  Rest assured we're working on fixes for
the file export and sync.
Thanks for your feedback!
On Apr 8, 2016 7:18 AM, "Dhwaneet Bhatt" <notifications@github.com> wrote:

[2016-04-13 06:48] codinguser commented on #486
Hi,
To be honest, business features would be great to have,  but are not
currently a priority. The focus is on making the consumer features refined
and working well. And there is still stuff like budgets under development.
When that is done, then maybe focus will shift to business. But this is
very long term planning. Unless of course someone starts sending in code
for business features.

Thanks f

[2016-04-19 09:36] codinguser commented on #479
@rivaldi8 The `PriceDbAdapterTest.shouldOnlySaveOnePricePerCommodityPair()` now fails in `develop` branch (after merging `hotfix/patches`). It seems when a Price is saved to the database, it's value is halved. You added a call to `reduce()` when getting the value numerator `Price.getValueNum()`. What does that do?

(you can checkout the current develop and test this)

[2016-04-19 17:14] rivaldi8 commented on #479
The call to `reduce()` in `Price.getValueNum()` (and `getValueDenom()`) is to avoid having to do [this call](https://github.com/codinguser/gnucash-android/pull/484/files#diff-f09bdcd45d932eeaff0d88b567e44687L231). If we are to store it reduced, I think it's better to just do it automatically.

If you are ok with it, I can fix the unit test.

[2016-04-20 07:15] codinguser commented on #479
oh sure, please go ahead and fix the test. Thanks :+1:
And please add some documentation to the `reduce()` method.
It took me a while to figure out what the method does. I guess we need to work on our documentation.  :)

[2016-04-20 08:53] codinguser commented on #479
@rivaldi8 never mind. I'll fix it. I'm in the midst of some changes already anyway :)

[2016-04-20 18:02] rivaldi8 commented on #479
Ok, as you will :)

[2016-04-22 01:16] diogocp commented on #236
@dhwaneetbhatt yes, the point is that increasing a liability should be red because it is more natural (red="bad", green="good").

[2016-04-22 07:43] strk opened #491 "Make GnuCash Android available outside of Google store"
Could you please make the .apk available on the official website for direct download ?
Using GooglePlay requires a Google account which not everyone is willing to register.
Thanks in advance.

[2016-04-22 08:02] strk opened #492 "Build failure due to "peer not authenticated""
I tried to build with gradlew following instructions in the README but failed here:

[code]

[2016-04-22 08:07] codinguser commented on #491
https://github.com/codinguser/gnucash-android/releases

[2016-04-22 08:07] #491 closed

[2016-04-22 08:11] codinguser commented on #492
By Google, I found a few quick suggestions:

- Make sure you are not being blocked by a firewall or something. Try with sudo or something
- Upgrade to the latest JDK

[2016-04-22 09:18] strk commented on #491
Thanks! See #493 for giving this information in the README (which I did read :)

[2016-04-22 18:23] elmerehbi opened #494 "Widgets not functional after upgrade or restart"
Every time the app updates or the phone is restarted the widgets are no longer functional and I have to remove them and set new ones.

[2016-04-23 18:00] elmerehbi opened #495 "Bug: All colors in reports are grey"
After the latest beta upgrade the colors in the reports section (except the lines) are grey.

Version: 2.0.7

[2016-04-23 18:01] elmerehbi opened #496 "Feature request: Subset by a date range"

[2016-04-24 17:01] strk opened #497 "owncloud integration"
It would be useful to have synchronization support to owncloud, in addition to the dropbox/gdrive ones.
See http://www.owncloud.org

[2016-04-25 18:34] rivaldi8 commented on #495
Thanks for reporting the issue @elmerehbi!

It looks like it was introduced in 6d31dc8. I'll work on a fix.

[2016-04-26 18:33] codinguser commented on #497
Support for ownCloud is already present in the develop branch and will be
released in the future

On Sun, Apr 24, 2016 at 7:01 PM, Sandro Santilli <notifications@github.com>
wrote:

[2016-04-26 18:48] codinguser commented on #494
We will look into this

[2016-04-27 07:50] codinguser commented on #495
@rivaldi8 I'll wait for your fix before I release the next beta of 2.0.7

[2016-04-27 18:54] Blackhawke commented on #485
dhwaneetbhatt -- Thank you for that! I also discovered that export to DropBox (still?) works fine, so I've been using that. I haven't had a chance to look into your Drive solution yet, though. I'll go do that now and report back here.

Cheers!

[2016-04-27 18:58] Blackhawke commented on #485
Okay... Well... Upon further review, I have no "bin" folder anywhere in Google Drive. I *do* still have the GnuCash folder than the app originally created, which is the first place I looked when I discovered that it wasn't actually exporting the QIF file into the folder after  the CM13 upgrade. So... That's what I know.

[2016-04-27 19:25] rivaldi8 commented on #495
Done!

The issue happened when the "Account color in reports" option was checked. If the account had no color set, it was shown in the report with the default color (grey). Now, a color is assigned for the reports in these cases, as when the option is unchecked.

[2016-04-28 10:33] codinguser commented on #485
thanks for the info :+1:

[2016-04-28 13:07] codinguser commented on #495
@rivaldi8 thanks for fixing that. Actually I think the option to use "Account color in reports" will have to be removed at some point. I requested it at the time, but now I don't think it makes sense anymore since there are so many accounts and sub-accounts which might share a color. This would make reports confusing if they actually used the account color.

[2016-04-29 13:10] strk commented on #492
Must be the JDK, any chance to build the package with only Debian/Ubuntu packaged tools ?

[2016-04-29 13:14] strk opened #500 "Setup an FDroid App Repo"
To get easy/automatic upgrades for those who don't want to sign up for a Google account, it would be useful to setup an independent f-droid repository (given the official one won't ship gnucash-android as per #435).

See https://f-droid.org/wiki/page/Setup_an_FDroid_App_Repo for instructions.

[2016-04-29 16:37] strk commented on #497
Do  you have a commit reference ? Also, when is next release expected ?

[2016-04-29 17:32] rivaldi8 commented on #492
I'm using Ubuntu's OpenJDK 8 and before version 7, so this shouldn't be a problem.

[2016-04-29 17:35] rivaldi8 commented on #495
Yes, I guess what's important is having each account in a different color to differentiate them in the reports.

[2016-04-30 09:44] strk commented on #492
openjdk-8-jdk here, 8u91-b14-0ubuntu4~14.04
Building as root makes no difference.

[2016-05-02 10:10] codinguser commented on #497
8e907f9
No date on the next minor release (which will support ownCloud).
But patch releases will be coming out often. The next one is in a few days.

[2016-05-02 10:11] #497 closed

[2016-05-04 12:18] #479 closed

[2016-05-04 12:18] #495 closed

[2016-05-07 13:29] dannywillems opened #503 "Feature request: take pictures"
Sometimes I would like to take a picture of bills but no way to do it now.

Could be interesting to implement it.

[2016-05-23 17:29] rivaldi8 opened #505 "NullPointerException on empty value in currency-converted amount"
If no value is entered in the converted amount text box in the "Transfer funds" dialog, the application crashes with a `NullPointerException`:

[code]

Steps to reproduce:

1. Create a new account with a different currency than the one configured.
2. Create a new transaction in some other account.
3. Enter a description and an amount.
3. Select the previously created account as transfer account. T

[2016-05-23 17:34] rivaldi8 commented on #505
I'm working on a fix.

[2016-05-23 22:00] codinguser commented on #505
@rivaldi8 ok, thanks.
Please base the fix on develop. I'm trying to round up for v2.1 soon

[2016-05-28 11:42] rivaldi8 commented on #505
Done!

[2016-05-28 11:50] rivaldi8 commented on #505
Oh, wait! I forgot the javadoc... I'll send it later.

[2016-05-28 15:23] pfrenssen commented on #465
:+1:

[2016-05-28 15:28] pfrenssen commented on #236
I agree with this, the color scheme should be reversed for liabilities, it makes more sense.

[2016-05-28 15:37] pfrenssen opened #506 "Total balance is incorrect for one of my accounts"
For one of my accounts the total balance is not correct. At the moment the total balance should be 1656.01BGN but the total balance shown is 1714.77BGN. There are no future transactions. I actually went through all transactions and calculated them by hand and came up with the exact same number as is shown in my actual bank account: 1656.01BGN.

I'm managing 9 accounts but this seems to be the only

[2016-05-30 09:38] codinguser commented on #506
What version of the software are you using?
It does indeed sound like something to do with the currency conversion.
Did you enter the transactions first in the EUR accounts or in the BGN accounts?

[2016-05-30 11:28] pfrenssen commented on #506
I'm using 2.0.7. For the entry of the transactions, I have done both. Some were entered on the EUR side, some on the BGN side. Proportionally the large majority have been entered on the BGN side.

The UI for entering conversion rates is not 100% reliable. The currency conversion needs to be entered in a modal dialog, but this does not appear consistently. For example it does not appear when editin

[2016-05-30 16:20] rivaldi8 commented on #505
Fixed in develop branch.

[2016-05-30 16:20] #505 closed

[2016-06-03 16:24] rivaldi8 opened #508 "NullPointerException when migrating data to 2.1.0"
Migrating database from 2.0.7 to 2.1.0 fails with the following stack trace:
[code]

Steps to reproduce:
1. Install 2.0.7 loading default accounts.
2. Install 2.1.0.
3. When the application is started, it crashes.

[2016-06-03 21:26] bugmenot2 commented on #503
Imagine if they could be OCRd too... *whistles*

[2016-06-03 22:39] codinguser commented on #508
I'm working on a fix.

[2016-06-06 13:27] codinguser commented on #508
Could you please test again?

[2016-06-06 16:33] rivaldi8 commented on #508
I works now. I've tried both with the default accounts and with my own ones with one year and a half worth of transactions.

[2016-06-06 16:33] #508 closed

[2016-06-16 10:34] pfrenssen commented on #506
Is there anything I can do to help debug this?

[2016-06-17 11:02] codinguser commented on #506
@pfrenssen  I will let you know if we do. I've just not had the time to look at this.
@rivaldi8 You've worked on currency conversions recently. Is it possible for you to look into this?

[2016-06-17 17:12] rivaldi8 commented on #506
@codinguser Yes, sure, I'll have a look.
@pfrenssen If you could send your data to rivladi8 at gmail.com, it would help, thanks.

[2016-06-21 16:41] nodje opened #510 "Crash on export with Xiaomi5"
I'm using 2.0.3 at the moment, with a new install.

`logcat` displays the following:

`
/data/user/0/org.gnucash.android/cache/OFX/20160621_183543_gnucash_export.ofx: open failed: ENOENT (No such file or directory)
`

The odd thing is that on first ever export, gnucash-android created the `export` folder where expected, just next to the `backup` folder in `/sdcard/org.gnucash.android/` but apparen

[2016-06-22 07:37] codinguser commented on #510
No, the problem is not access to the export folder on your SD card. The problem seems to be with the generation of the export file on the internal storage (before it is copied to external SD card).
@rivaldi8 this might be up your alley? Have you seen this error before?

[2016-06-22 16:27] rivaldi8 commented on #510
@codinguser Yes, this looks like #448.

@nodje Upgrading to the latest version should fix the problem. Could you upgrade and check if it's fixed?

[2016-06-22 17:17] nodje commented on #510
@rivaldi8 I'm trying to build from source right now but got a problem.
``
A problem occurred configuring project ':app'.

``
I don't know why I can't get this lib, maybe it has to do with my repository. I guess this should be available from the std Maven repo, isn't it?

I'll try with 2.0.7 otherwise (I don't use Google Play and F-Droid doesn't seem to propose gnucash-android anymore, which makes

[2016-06-23 08:05] codinguser commented on #510
@nodje hmm, that's a weird error, since @rivaldi8 removed our dependency on actionbarsherlock a while back.

[2016-06-23 08:59] nodje commented on #510
I close the bug since it's working with 2.0.7. Sorry about that btw, I should  have checked before posting the issue.

Just curious about why gnucash-android is not available on F-Droid repo anymore?

(And sorry with the confusion, I mistakenly checkout an older version for tag 2.0.7 no actionbarsherlock problem...)

[2016-06-23 08:59] #510 closed

[2016-06-23 15:33] rivaldi8 commented on #510
@nodje Don't worry, it happens to me all the time :)

The application isn't in F-Droid because of some non-free dependencies. See #435 for more details.

[2016-06-23 15:45] rivaldi8 commented on #506
ar I

[2016-06-23 16:07] rivaldi8 commented on #506
I've been testing these days and, while I've found some small issues, like the opening of the conversion dialog you mention, so far I haven't been able to reproduce the balance issue. Maybe knowing this would help:
* Do you use splits in the affected accounts?
* What are the types of the affected accounts (cash, bank, expense...)?

[2016-06-23 16:44] nodje commented on #510
👍 got it

[2016-06-23 17:29] nodje commented on #510
I'm sorry to abuse this issue, but as it is closed and as you're being very nice & friendly, I dare ask an unrelated question regarding a build problem:

I'm trying to build the `master` branch. The only changes are gradle and the Android Studio gradle plugins which have been updated to latest version.
I seem to have problem passing the tests when running `gradle build installDevelopmentDebug` for

[2016-06-26 11:36] rivaldi8 opened #512 "Listing scheduled actions fails with NullPointerException"
When a new scheduled action is created, its tag field is not properly saved in the database. This causes the application crash with a NullPointerException when the scheduled action are listed:

´´´
E/AndroidRuntime: FATAL EXCEPTION: main
 Process: org.gnucash.android.devel, PID: 5429
 java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String[] java.lang.String.split(java.l

[2016-06-28 08:14] pfrenssen commented on #506
@rivaldi8, can you tell me where the data files are located?

[2016-06-28 15:52] rivaldi8 commented on #506
The data is under `/data/data/org.gnucash.android/databases/`, but you won't be able to access it unless your device is rooted. You can export it though:
 1. Open the application menu.
 2. Select _Export..._
 3. Select where you want the file to be exported.
 4. Choose _XML_ as the export format.
 5. Press _EXPORT_
 6. You'll get a file named `date_time_gnucash_export.gnca` with all your data (`20

[2016-06-28 16:27] pfrenssen commented on #506
@rivaldi8  thanks! I will export the data and e-mail it to you. Just to confirm, does your e-mail address start with 'rivladi8' or 'rivaldi8'?

[2016-06-28 16:48] rivaldi8 commented on #506
Sorry, I mistyped it. It's 'rivaldi8'.

[2016-06-29 07:53] pfrenssen commented on #506
@rivaldi8, thanks, I have sent you the exported data.

[2016-06-29 20:54] codinguser commented on #510
@nodje if you are not interested in running the tests, skip the build
command and run only `gradle installDevelopmentDebug`

A quick googling suggests that the error occurs if you try to run the build
offline. Was this the case with yours?

On Thu, Jun 23, 2016 at 7:29 PM, nodje <notifications@github.com> wrote:

[2016-06-30 10:29] nodje commented on #510
Thanks for answering. I don't know what happened, maybe a temporary loss of connection. In any case it didn't work for a few times then suddenly started working. Then I used `-x test` to get rid of test, but `gradle installDevelopmentDebug` is even simpler.

But I've never been able to deploy the dev version on my phone alongside 2.0.7. I always get this error, for which I haven't found a solution

[2016-07-03 16:11] theindigamer opened #515 "Restoring backup from QIF file : Not well-formed"
I get the error `At line 1, column 0: not well-formed` when importing a backup from a QIF file into GnuCash Android (file was generated using same app but maybe different version).

Sample from QIF file.

[code]

Also a small suggestion: while exporting to QIF, the user should be told that the timings of the transactions will not be saved.

[2016-07-04 08:02] codinguser commented on #515
GnuCash Android does not support importing from QIF

On Sun, Jul 3, 2016 at 6:11 PM, theindigamer <notifications@github.com>
wrote:

[2016-07-05 13:39] theindigamer commented on #515
Oh, okay. Could you please add that as a comment while exporting, maybe as a small alert to the user displayed in orange or red?

[2016-07-06 16:01] seriyps opened #516 "Add BYN (Belarus rouble)"
New Belarus currency (after denomination).

See https://github.com/Gnucash/gnucash/commit/0e17ebdc127a58f92b3c6ee216572cae11babc61 & https://github.com/Gnucash/gnucash/pull/63 (PR was with mistake)

[2016-07-09 01:02] kr4z33 commented on #503
To motivate development of this, [I have set up a bounty for this feature](https://freedomsponsors.org/issue/776/feature-request-take-pictures). Open to anyone who can accomplish the task. Feel free to sweeten the offer if you care to.

[2016-07-09 01:17] kr4z33 commented on #108
That reference to #461 seems to be a separate issue. I just deposited a few checks that I recently received, and in the app I put the check numbers, in the "add Note" Field in the new transaction dialog to have a record of the check numbers.

[2016-07-10 18:25] rivaldi8 commented on #506
Finally I've found what's going on. The source of the problem is the transaction that appears with an amount of 330.93 BGN (25th may).

Let's add some context first  (@codinguser  please, correct me if I'm wrong). A transaction is always represented by two splits (assuming no manually entered splits). Both have the same amount but with different sign. One belongs to the account of the transaction.

[2016-07-11 06:46] pfrenssen commented on #506
I don't remember what I did, but I see that this transaction is for a flight which I paid with my company account, where usually I pay all my flights with my VISA account. It is possible I first entered this transaction for my VISA account (which is in EUR), and then changed it to my company account (which is in BGN). If the resulting value is around half of the original value then this seems cons

[2016-07-11 16:21] rivaldi8 commented on #506
Ok, thanks for the information. I'll keep trying to reproduce de bug.

By the way, I forgot to say that you should be able to fix the balance of this account by removing this transaction and entering it again.

[2016-07-11 21:10] elmerehbi opened #517 "Feature request: Enable/Disable inclusion of future transactions in total"

[2016-07-11 21:12] elmerehbi opened #518 "Color of main account balance not consistent between app and widget"
My main account shows the net in green in the widget while it is red in the application. Shouldn't they be consistent?

Account type: Cash

[2016-07-12 06:45] pfrenssen commented on #506
Thanks!

[2016-07-12 19:13] rivaldi8 commented on #506
Steps to reproduce:
 1. In an account "Account-BGN 1" with BGN currency enter a new transaction:
  * Amount: 10 BGN
  * Transfer account: "Account-EUR"
  * Converted amount: 5 €
 2. Edit the transaction.
 3. The "Transfer funds" dialog will open. Press "Save".
 4. Change the transfer account to "Account-BGN 2" with BGN currency.
 5. Press "Save".

"Account-BGN 2" account will be listed with a bala

[2016-07-14 08:50] pfrenssen commented on #506
That's great news, really glad that you can replicate the problem. Thanks very much for your time!

[2016-07-14 10:37] ShapingView opened #520 "Favorites / Recent Tab show all Accounts"
Hi,

when opening GNUCash out of ram when it was opened a while before, the Account Tabs "Recent" and "Favourites" just show all accounts.
A workaround is completely closing the application (removing it out of the RAM).

Using LG G2 (D802)
Android 6.0.1 (CyanogenMod 13.0)

[2016-07-14 15:30] rivaldi8 commented on #520
This is a known issue. It was fixed in develop branch by 4a34625. It will be included in the next release.

[2016-07-18 01:50] maksue commented on #355
i have the same problem... anyone can help me to recover my data?

[2016-07-18 02:04] maksue opened #521 "Cant Restore My Backup"
Hi,

I did my backup and trying to restore the backup but keep getting the message, "an error occurred while importing the gnucash accounts. At line 1, column 0, not well-formed (invalid token)".

For your info, backup format is .ofx

anyone @codinguser here can help me to get back my data?

Thanks in advance :)

[2016-07-20 22:08] juandiego26 opened #523 "file default_accounts.gnucash"
hi,

I new and have a question... for serving the file default_accounts.gnucash  of raw folder

Thanks in advance :)

[2016-07-21 14:23] codinguser commented on #503
It would indeed be nice to take a picture of bills. Of course you would still have to manually enter the transaction details in GnuCash, and when you sync with desktop, the images will be ignored. But apart from that, it could work.

@bugmenot2 OCR is almost completely out of the question.

[2016-07-21 14:24] codinguser commented on #518
Yes they should. This is an open bug that we should fix!

[2016-07-21 14:29] codinguser commented on #506
thanks @rivaldi8

[2016-07-21 14:35] #520 closed

[2016-07-21 14:37] codinguser commented on #355
@maksue sorry about this issue. We are still trying to identify what causes it so as to fix it.
If you like, you can send me your file to gnucash.org@gmail.com and I can try to modify it for you so that it can be restored.

[2016-07-21 14:39] codinguser commented on #521
Hi, sorry but GnuCash does not support importing from OFX.
You can only backup and restore from XML. Please use the `Settings -> Backup & Export -> Create backup` to generate your backups.
Or schedule periodic backups with XML.

[2016-07-21 14:39] #521 closed

[2016-07-21 14:41] codinguser commented on #523
I'm sorry, I do not quite understand what your question is?

[2016-07-21 15:13] juandiego26 commented on #523
sorry for not making me understand,

what's it for file **default_accounts.gnucash** located in the folder raw of app

Thanks

[2016-07-21 15:18] codinguser commented on #523
This file contains the default accounts which are loaded into the database
if the user requests it.
The user can ask for default accounts immediately after installing the app,
or anytime from `Settings->Accounts`
There are many such files for the different locales (languages) supported
by the app. These files are the same used by GnuCash desktop.

On Thu, Jul 21, 2016 at 5:13 PM, Juan Diego Silva

[2016-07-21 15:41] juandiego26 commented on #523
Thanks  codinguser

[2016-07-21 15:41] #523 closed

[2016-07-23 15:06] maksue commented on #355
Hi Ngewi....

Thank you for your respond. Herewith the backup file.... really appriacte
if you can get back my data.

Thanks again.
On 21 Jul 2016 22:37, "Ngewi Fet" <notifications@github.com> wrote:

[2016-07-25 15:41] codinguser commented on #355
@maksue it seems you forgot to send the file.
Send it to the email I gave, instead of using the reply button which will instead post a new comment.

[2016-07-26 01:19] maksue commented on #355
Sorry... already resend the email :+1:

[2016-07-26 23:41] juandiego26 opened #525 "jniLibs Folder"
sorry for my english @codinguser

what's it for the jniLibs folder?

Thanks in advance :)

[2016-07-27 01:51] kr4z33 commented on #503
If you do keep a long-term feature wishlist for the project somewhere, I suggest adding the concept of GnuCashAndroid OCR on image capturing to it, in case someone decides to make that happen, or if tools become available in the future to do that more easily - it may sound like a long shot now, but it will not hurt to have such long term goals being noted officially as goals by the project. With e

[2016-07-27 18:50] codinguser commented on #355
The file is in OFX format. GnuCash Android can only restore backups from
XML.
You can try to import the OFX file in GnuCash desktop, and then save again
as .gnucash file (which is in XML).
Then you can import the .gnucash file into GnuCash Android.

On Tue, Jul 26, 2016 at 3:19 AM, Maksue Jannah <notifications@github.com>
wrote:

[2016-07-27 19:12] codinguser commented on #525
It's binaries for DropBox integration

[2016-07-27 19:13] codinguser commented on #525
@juandiego26 please do not use issues to ask questions.
You can send questions to gnucash.org@gmail.com

[2016-07-27 19:13] #525 closed

[2016-08-03 10:55] codinguser commented on #506
So I have been trying some ways to reproduce this bug. This is what I'm doing, starting from empty database:

1. Create 3 accounts: Acct-BGN1, Acct-BGN2, and Acct-EUR
2. I create a new transaction in Acct-BGN1. Set the amount to 10 BGN
3. I set the transfer account to Acct-EUR.
4. At this point, the Transfer Funds (TF) dialog opens
5. Enter 5€ as the "converted amount" and press 'Save' to close th

[2016-08-03 12:53] rivaldi8 commented on #506
Ok, all is correct up to step 7, but there's a mistake in 8. Also, I defined the steps for the 2.0.7 but I guess you are on develop, then there's an additional step:

*8. Open Acct-BGN1 (not Acct-EUR), and press the 'Edit' icon on the transaction
9. The transaction form opens, but no TF dialog opens automatically here (because different behaviour in develop). To force it to open: change the transf

[2016-08-03 14:29] #515 closed

[2016-08-03 14:35] codinguser opened #526 "Opening a scheduled transaction to view causes app to crash"
The scheduled transaction list is displayed, but the individual items cannot be opened for editing..
This behaviour currently occurs on `develop` branch.

This can be fixed and extended so that tapping on a scheduled transaction does not directly go to editing it, but rather first displays details of it using `TransactionDetailFragment`. And then from there, it can be edited further.

[2016-08-03 14:36] codinguser commented on #506
@rivaldi8 oh I see. Thank you.
So this issue is caused by the simple fact that the TF dialog opens. hmm, interesting.
I will write some tests and fixes.

I think this issue and the caveats are linked. So I will just work on them.
Would #526 interest you?

[2016-08-03 15:37] rivaldi8 commented on #506
Well, not caused when transfer funds dialog is opened, but really when you press "Save" and the value get stored in `TransactionFromFragment.mSplitQuantity`. In case you get confused by the additional changes to support the fix, the key is in line 761 in 2d76e1f.

Ok! I'll work on #526.

[2016-08-04 09:42] rivaldi8 commented on #526
The crash happens when the scheduled transaction doesn't have an end date.

When we don't set an end date, no value is stored in the corresponding field in the database. This is then read as a null value in `RecurrenceDbAdapter.buildModelInstance` into `ScheduledAction.mRecurrence.mPeriodEnd`, which provokes a NullPointerException in `Recurrence.getCount()`.

08-03 18:03:52.791 17435-17435/org.gnu

[2016-08-04 14:21] rivaldi8 opened #528 "When using "XXX no currency" the accounts balances aren't calculated"
When using "XXX no currency", if some transactions are added to an account, the account and its parents are still listed with 0 balance.

Received through User Voice.

[2016-08-04 15:17] rivaldi8 opened #529 "If an export through "Sharing" is cancelled, the transaction are still deleted"
If I try to export, but then change my mind (go back without exporting because I do not see the application I am looking for) all transactions are deleted. I have selected that all transactions should be deleted, but this should happen only if the export is successful.

Steps to reproduce:
1. Add a transaction.
2. Initiate an export, selecting "Share file..." as export destination and checking "De

[2016-08-04 20:02] codinguser commented on #506
2d76e1f00ddd684179f4b97b54340eccb63a6daa alone does not seem to fix it.
I added some tests and they did not pass even after merging it.

I managed to simplify the code for saving transactions and fix the problem in the process. I have uploaded it to the branch` fix-multicurrency-editing` and I would like your feedback on it, before I merge into master. I also added a few multi-currency transaction

[2016-08-04 20:11] codinguser commented on #529
This is an important one. But I can't think of an easy fix, since we do not get feedback from the third-party apps.
One way would be to make a simple undo button which can be displayed once the user returns to the app. Then we hold restore the last backup.
But it still feels inelegant and doesn't really solve the problem.

[2016-08-05 12:57] codinguser opened #532 "Selecting custom date range in reports causes the app to crash"
Open (any) reports section and select the spinner for custom date range.
The app crashes.

[2016-08-05 13:00] codinguser commented on #488
Do you mean encrypted backups for the app, or encrypted exports?
If we encrypt the exports, how is the receiving app supposed to decrypt them?

[2016-08-05 13:58] codinguser opened #533 "I get an error trying to vote for a suggestion. UserVoice."
From UserVoice

[2016-08-05 15:22] rivaldi8 commented on #506
I've done some testing and it seems to be working properly now. Save for some small non-important issues (I'll add some inline comments), the changes seem sensible (by the way, great work with saveNewTransaction! :)

[2016-08-05 16:39] rivaldi8 commented on #529
Ok, I see. I'll try to think some solution.

[2016-08-05 16:51] codinguser commented on #529
It just occurred to me that we always make a backup before exporting.
I'll add an article to the knowledgebase in UserVoice explaining how to recover data. Users can see those in the Help section.

Also, if you have any guides or help articles, let me know and we can publish them there too.

[2016-08-05 17:03] rivaldi8 commented on #529
Yes, I've been thinking about writing some help, but never find the time...

[2016-08-05 17:11] codinguser commented on #529
I so know what you mean.
Same here 😅

[2016-08-06 10:21] rivaldi8 commented on #512
Fixed by 2894466.

[2016-08-06 10:21] #512 closed

[2016-08-08 08:17] rivaldi8 opened #534 "787 foreign key constraint error caused by unfixed balance split"
When importing the attached .gnucash file, it fails with a constraint error:

[code]
There seems to be some issue with the scheduled transaction defined in the file, because the splits aren't balanced. This causes a template transaction to be created with an imbalance split (in [`GncXmlHandler.endElement`](https://github.com/codinguser/gnucash-android/blob/develop/app/src/main/java/org/gnucash/and

[2016-08-08 08:23] rivaldi8 commented on #534
[Minimal file to reproduce the problem](https://github.com/codinguser/gnucash-android/files/406344/534-foreign-key-constraint-error-unfixed-split.txt) (edited by hand). Attached as .txt, as GitHub doesn't accept .gnucash or .xml.

[2016-08-08 08:44] rivaldi8 commented on #534
By the way, the desktop version of GnuCash (2.6.12) also crashes when opening the original file.

[2016-08-08 09:01] codinguser opened #535 "App drains device battery"
This is an issue in the current v2.1.0-beta1.
Android energy monitor shows the device consuming the most battery power and holding a CPU wake lock. This might be related to the scheduled actions service.

[2016-08-08 09:05] codinguser commented on #517
Duplicate of #465

[2016-08-08 09:05] #517 closed

[2016-08-08 09:23] rivaldi8 commented on #535
Yes, I think it's something with scheduled actions too. The other day, while testing with scheduled transactions, I found about a hundred of transactions that had been created. I still haven't been able to look into it, though.

[2016-08-09 08:31] codinguser opened #536 "Every export creates a new scheduled export"

[2016-08-09 09:41] codinguser opened #537 "After new installation, transfer account spinner is not shown"
If the double-entry setting is toggled off and on, then the spinner is shown.
It seems there is a disconnect between the overall app shared preferences and the book preferences.

[2016-08-10 13:22] codinguser opened #538 "Execute Scheduled Actions for all books in the system"
Not only for the active book

[2016-08-10 13:23] #506 closed

[2016-08-10 13:23] #534 closed

[2016-08-10 13:23] #537 closed

[2016-08-10 13:24] #536 closed

[2016-08-10 13:28] codinguser commented on #526
Fixed in 4d754cf4e06ccb7d32a5da06fc259c8944dca9d7

[2016-08-10 13:28] #526 closed

[2016-08-10 14:04] codinguser commented on #427
This is implemented in v2.1.0 which is currently in beta

[2016-08-10 14:04] #427 closed

[2016-08-10 14:06] codinguser commented on #427
Fixed in d871cf203abf703c63d6a439947839f2bc156b99

[2016-08-10 14:07] codinguser commented on #343
@hargi notes are exported in XML.
QIF is the tricky one

[2016-08-10 14:08] codinguser commented on #151
v2.1.0 (in beta) has support for multiple books

[2016-08-10 14:08] #151 closed

[2016-08-10 14:29] codinguser commented on #496
What exactly do you mean? Subset of what, transactions, reports?

[2016-08-10 20:10] elmerehbi commented on #496
I'd like to see the transactions and net within a custom date range. The same feature for reports would be  awesome too.

[2016-08-12 04:57] nikopp opened #539 "data lost when installing beta from google play"
I switched to the beta in google play, got gnucash 2.1 and the transactions of the last week were gone.

That were exactly those transactions that I did not export so far.

Is this a problem of the beta system in google play or will this also happen when 2.1 is released?

[2016-08-12 04:59] nikopp opened #540 "save button not working for new transactions"
I installed 2.1 beta via the google play beta feature and could not enter new transactions because the save button had no effect.

[2016-08-12 05:44] nikopp opened #541 "widget refresh slower for more transactions"
#202 fixed the bug that saving was slow because it waited for the widgets to refresh.

The widget refresh is still slow if there are many transactions.

[2016-08-12 16:08] codinguser commented on #539
No, no, that should *not* happen.
Are all transactions gone, or just the ones from the last week?

[2016-08-12 16:08] codinguser commented on #540
are you on beta1 or beta2?

[2016-08-12 16:11] codinguser commented on #541
How slow? Is it a momentary pause, a few seconds, minutes or more?

On Fri, Aug 12, 2016 at 7:44 AM, nikopp <notifications@github.com> wrote:

[2016-08-12 17:14] nikopp commented on #539
Only the ones since the last export which I did last week.

Ngewi Fet <notifications@github.com> schrieb am Fr., 12. Aug. 2016, 18:08:

[2016-08-12 17:19] nikopp commented on #540
I'm afraid I don't know. I installed it from Google play store and after I
realized that it didn't work, I uninstalled it.

Ngewi Fet <notifications@github.com> schrieb am Fr., 12. Aug. 2016, 18:10:

[2016-08-12 17:26] nikopp commented on #541
At the moment it's about 2 seconds. But it seems to increase with the
number of transactions in the book.

It ist the same for all accounts, no matter if there are just a few
transactions in an account or a lot.

Are all transactions of the book processed to calculate the sum of one
account for the widget?

Ngewi Fet <notifications@github.com> schrieb am Fr., 12. Aug. 2016, 18:11:

[2016-08-12 22:25] codinguser opened #542 "First run wizard currency preference is ignored when creating new book"

[2016-08-15 11:12] #538 closed

[2016-08-16 13:33] #535 closed

[2016-08-16 13:35] codinguser commented on #540
I cannot reproduce this.
Might have been related to the missing transfer account field issue which is now fixed.
Let me know if you see it again at some point

[2016-08-16 13:35] #540 closed

[2016-08-16 13:38] codinguser opened #543 "Import & export reconciled_status and reconciled_date from XML"
Import and export all relevant fields from XML

[2016-08-16 13:39] codinguser opened #544 "Add dialog with extra checkbox for irreversible actions"
Actions such as deleting book, deleting all accounts, deleting all transactions

[2016-08-16 13:42] codinguser commented on #482
Is it possible to send me the file sample which causes this problem?
You can redact all important information and send only a minimal data which would generate this problem.

[2016-08-16 13:43] codinguser commented on #359
v2.1.0 is now in beta

[2016-08-16 13:43] #359 closed

[2016-08-16 13:46] codinguser commented on #374
@xavrin v2.1.0 which is currently in beta should significantly improve the reliability of scheduled transactions.
Final release coming in the next few weeks

[2016-08-16 13:46] #374 closed

[2016-08-17 15:48] #542 closed

[2016-08-17 15:49] #516 closed

[2016-08-17 16:17] codinguser opened #545 "Add Transaction journal"
Journal accounting allows viewing all transactions in the database by date of entry

[2016-08-17 16:20] codinguser opened #546 "Use implicit decimals in account fields for currencies with 2 decimal places"
This is a UserVoice request.
Amounts entered would always start input from the decimal fields, allowing quick input of amounts.
This feature existed before and was removed on popular request by those whose currencies did not support decimals.
One option would be to make it default on for currencies with decimals and off for those without. In addition, a setting could force it on or off.

[2016-08-17 16:22] codinguser opened #547 "Sort transactions by date (ascending and descending)"

[2016-08-17 20:42] codinguser commented on #529
I added a help topic explaining how to recover data from backups.
That should suffice for now

[2016-08-17 20:42] #529 closed

[2016-08-18 07:33] codinguser opened #548 "Selecting custom date range in reports causes crash"

[2016-08-18 07:36] #446 closed

[2016-08-18 07:38] codinguser commented on #440
Given no feedback, I will close this issue for now.
@lxbzmy feel free to reopen it if you still experience it.

[2016-08-18 07:38] #440 closed

[2016-08-18 07:40] codinguser commented on #492
@strk do you still experience build issues?

[2016-08-18 07:41] #548 closed

[2016-08-18 07:42] codinguser commented on #496
You can already select custom date ranges for reports

[2016-08-18 07:45] codinguser commented on #487
Lacking feedback, I am closing this issue.
Accounts are currently sorted by name.

[2016-08-18 07:45] #487 closed

[2016-08-18 16:33] strk commented on #492
Yes, but different error now, so could be unrelated.
New error is (as of bc9159cf9f800fcd4c1ff895c6a7ab732ec16091):

[code]

[2016-08-18 20:27] #532 closed

[2016-08-19 11:53] codinguser commented on #117
Sync is already covered in issue #375
But at the moment you can already import and export through Google Drive

[2016-08-19 11:56] codinguser commented on #541
oh, it seems I misread your original post.
You don't mean that transaction saving is slow, rather that it takes some time for the widget to update right?

[2016-08-19 16:25] nikopp commented on #541
Yes!

Ngewi Fet <notifications@github.com> schrieb am Fr., 19. Aug. 2016, 13:57:

[2016-08-20 07:10] kschwank opened #550 "Reports of short time ranges (days)"
I would like to create a report over an arbitrary time interval. My current reason is, that I would like to have a report of my expenses during business trips of a few days.
In version 2.0.7, if I pick a custom range:
 - the Bar Chart shows the expenses of the whole month containing the custom range.
 - the Pie Chart shows the expenses from the start of the picked custom range up to the current da

[2016-08-22 07:10] codinguser opened #551 "Add book name to export file name"
Easier identification of what book the export comes from

[2016-08-22 07:22] codinguser opened #552 "Migrate DropBox support to API v2"
Also, DropBox Sync API is now deprecated. So migrate to DropBox Core API v2

[2016-08-22 10:18] elmerehbi opened #553 "Widget creation crashes opening accounts list"
I already sent a report a couple of days ago. Everytime I try to add a widget and opening the accounts list to select one the app crashes.

Also the app is too slow on opening and navigating after the latest upgrade.

[2016-08-22 11:18] elmerehbi opened #555 "Migrate existing backups to new backups folder (per book)"
I just backuped my account  and cleared the apps data & cache.
When I try to restore it says

On my phone I can find the exported file dated with the time of backup with the extension .gnca.zip

What can I do to restore?

[2016-08-22 12:29] codinguser commented on #555
Backups only happen in XML. QIF files cannot serve as backups.
If you have a QIF file, you should import it into GnuCash desktop, and then generate GnuCash XML which you can import into the app.

[2016-08-22 12:30] codinguser commented on #555
The "Restore backups" functionality in the app only works on automatically generated backups or the ones which you get when you click "Create backup".
For other backup times, simply import the file using "Settings --> Accounts --> Import GnuCash XML"

[2016-08-22 12:33] codinguser commented on #555
Please submit help and feature requests through the "Help and Feedback" section within the app. Others can then comment and vote on issues there.
GitHub issues should be used more for reporting problems with app functionality.

[2016-08-22 12:44] codinguser commented on #539
I haven't been able to reproduce this.
@nikopp did you by any chance have scheduled exports?
One of the earlier bugs in beta1 was that scheduled actions were run too frequently, so maybe your data was exported and deleted without you realizing.

@rivaldi8 Could you please investigate if there are some possibilities where the upgrade causes data loss? If recent transactions or something of the sort

[2016-08-22 15:34] rivaldi8 commented on #539
Ok, I'll have a look.

[2016-08-22 16:59] elmerehbi commented on #555
@codinguser I did a backup using the "Create Backup".

[2016-08-22 17:28] rivaldi8 commented on #539
@codinguser I haven't seen anything obvious in the upgrade code that might've caused this.

[2016-08-22 18:13] codinguser commented on #555
Ah I see. I guess you are on the beta version.
Look in SDCARD/org.gnucash.android/backups for your old backups.
The new ones are saved in book-specific folders, and that is where the restore function looks first.

[2016-08-22 18:15] codinguser commented on #539
@rivaldi8 ok, thanks for looking into it

[2016-08-22 23:53] elmerehbi commented on #555
Yes, that's what I mentioned in the edited issue. Probably you read the pre-edited one.

I copied the backuped file into a new account folder but it doesn't import it. I tried with an older one (2015) it imports well.

[2016-08-23 05:49] codinguser opened #556 "After TransferFund dialog closes, immediately save the transaction"
From: https://plus.google.com/u/0/117605068428491461489/posts/Pciqk5iExms

This is a fairly minor issue that I've been seeing for a while that I just haven't gotten around to posting. In fact it took me a while to realize what was going on. When doing a post with split currencies, the work flow does something unnatural. I'll try to explain:
- post a transaction that splits currencies (such as a 30

[2016-08-23 05:52] codinguser commented on #555
@elmerehbi what error message do you get when you try to import?

[2016-08-24 20:06] mpadilla2 opened #558 "Enhancement Request: Option to keep Favorites in Place Between Imports"
Business Case:
We use gnucash-android to view balances while on the go using xml data imported from gnucash desktop. We don't necessarily export to gnucash desktop at this time. As transactions are added to gnucash desktop, the xml file is saved to dropbox. We then manually import into gnucash-android. On initial set up we identify and typically mark five Favorites for easy access. On the next imp

[2016-08-25 10:18] handycz opened #559 "Withdrawal and different currency liabilities"
When I split a withdrawal from an account that is not in the default currency between expenses and liabilities (that are in the default currency),  the part of the withdrawal in the expenses is OK, but the part in the liabilities is not converted to the liabilities' currency.
An example:
My default currency is CZK, so liabilities and expenses are in CZK. I also have an account with RUB as the curr

[2016-08-25 11:21] codinguser opened #560 "[unverified] Export to email does not work"
From user email:

I can no longer export to email receiver. Whenever I start an export action and choose „Send …“ instead of „SD-Card“ as export target I am not prompted to choose a send action. Instead I get the message „Exported to SD Card“. What is going wrong? (The message texts may not be correct as I am using gnucash in german, so I don’t know the correct english messages).

I am using the c

[2016-08-25 12:54] codinguser opened #561 "Delete book shared preferences when book is deleted"

[2016-08-25 12:54] #551 closed

[2016-08-25 12:54] #553 closed

[2016-08-25 15:03] elmerehbi commented on #555
I am not getting an error. The import process takes a long time and I am not sure what happens but it is not importing all accounts and "none of the transactions".

I tried with an old backup and it works though.

I forgot to report that the app, after the last upgrade, was very slow in loading transactions or accounts. I backuped up my account in that version and then cleared the data from Androi

[2016-08-25 15:12] elmerehbi commented on #555
One more thing to note is that the some zipped backups show files with file sizes in GB!

[2016-08-25 21:17] elmerehbi commented on #555
Update: I was able to rename the extension of the last backup (.gnca to .gnucash) & open it in GnuCash desktop. lost a few days of transactions but have the whole year.

Bad news: as per a previous bug (can't seem to find it) in which I reported one of the accounts to be mis-calculating, it turns out I am broke by 3 million + euros. One cause I just found is a scheduled transaction that have been

[2016-08-25 21:32] codinguser commented on #555
So sorry about that :(Yes I found a bug that was causing scheduled transactions to run forever and fixed it. That would explain the multi-gigabyte file. The latest beta should not have that problem. 
Thanks for all the help with testing and providing feedback. GnuCash would not be what it is without our testers. 
Cheers,

On Thu, Aug 25, 2016 at 11:17 PM +0200, "Ibrahim El Merehbi" <notifications@

[2016-08-25 23:31] elmerehbi commented on #555
It's ok. How can I get rid of those (40,000+) transactions?
I tried deleting the account & its transactions but GnuCash ends up freezing or crashing.

[2016-08-26 00:05] codinguser commented on #555
I would suggest doing so within the desktop app. I'm not sure the mobile app will be able to handle that many. But that is something which we are hoping to change in the future someday 

On Fri, Aug 26, 2016 at 1:31 AM +0200, "Ibrahim El Merehbi" <notifications@github.com> wrote:

It's ok. How can I get rid of those (40,000+) transactions?

I tried deleting the account & its transactions but GnuCa

[2016-08-26 11:26] elmerehbi commented on #555
I was talking about the desktop app actually. I left it over night t delete the account and its transactions and it was successful but the split transactions still exist in another account.

[2016-08-26 17:58] codinguser commented on #555
I'm afraid I'll not be of much help on the use of the desktop app. Sorry...

On Fri, Aug 26, 2016 at 1:26 PM +0200, "Ibrahim El Merehbi" <notifications@github.com> wrote:

I was talking about the desktop app actually. I left it over night t delete the account and its transactions and it was successful but the split transactions still exist in another account.

—
You are receiving this because you

[2016-08-27 15:48] rivaldi8 opened #562 "Scheduled transaction imported with imbalanced splits"
From user report:

[2016-08-27 16:16] rivaldi8 commented on #562
The issue appears when the scheduled transaction has both credit and debit slots in each split:
[code]
The parser first reads the `credit-numeric` slot and sets the split value to 20 (`handleEndOfTemplateNumericSlot`). Then it reads the `debit-numeric` slot and sets the split value to 0. The pair split is read correctly, as the value appears in the `debit-numeric` slot, so the transaction ends up

[2016-08-29 15:40] rivaldi8 commented on #562
Fixed in develop branch.

[2016-08-29 15:40] #562 closed

[2016-08-29 17:13] rivaldi8 opened #564 "Pressing "Enable Google Drive" checkbox option leaves it unchecked"
Reported through Google+:

[2016-08-31 08:12] codinguser commented on #555
Existing backup files are migrated in multibook support.
Previous issue with unending execution of scheduled transactions is fixed. So I will close this issue now.

[2016-08-31 08:12] #555 closed

[2016-08-31 08:13] codinguser commented on #539
Cannot reproduce this, sorry @nikopp . I will close this issue for now.
We will monitor it over the gradual rollout of v2.1.0 in the month of September.

[2016-08-31 08:13] #539 closed

[2016-08-31 08:28] #561 closed

[2016-08-31 12:48] codinguser opened #565 "Create regular automatic backups even if user doesn't explicitly request them"
Right now backups are only created before destructive actions like export, delete.
It would be good to also have a regular backup which the user can always restore from.

[2016-08-31 12:50] codinguser opened #566 "Backup SQLite Database before upgrades. Enable downgrades"
Make a backup of SQLite database before attempting an upgrade.
In case that fails, allow the user to uninstall and reinstall the app, then auto-detect the previous existing database and use

[2016-08-31 13:16] codinguser commented on #482
Fixed by #563

[2016-08-31 13:16] #482 closed

[2016-08-31 13:18] codinguser opened #567 "Adapt GnuCash Android database schema to match desktop"
This would allow for some interesting levels of interoperability

[2016-08-31 13:25] codinguser opened #568 "Use FileProvider for exported files"
Remove need for SD_CARD permission

[2016-09-03 13:34] poidl opened #569 "2.1.0 crashed on startup"
I just updated the app to 2.1.0 on my phone, and it crashes on startup. I sent the report with system logs.

[2016-09-03 16:06] codinguser commented on #569
Thanks for the crash report. I have seen them and will investigate the
issue. Hang tight.
Sorry about the inconvenience!

Cheers,

On Sat, Sep 3, 2016 at 3:34 PM, poidl <notifications@github.com> wrote:

[2016-09-03 16:06] codinguser commented on #569
Crash log:
java.lang.RuntimeException: Unable to create application org.gnucash.android.app.GnuCashApplication: java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
	at android.app.ActivityThread.handleBindApplication(ActivityThread.java:4710)
	at android.app.ActivityThread.-wrap1(ActivityThread.java)
	at android.app.ActivityThread$H.handleMessage(ActivityThread.java:1405)
	at a

[2016-09-05 12:41] #569 closed

[2016-09-05 19:00] singpolyma commented on #375
This is almost possible now, if you do an XML export and overwrite the gnucash file you imported, you basically get this. Just need an option to save to a particular file instead of also to an app-specific directory.

[2016-09-05 19:01] singpolyma opened #570 "Include whitespace in XML file just like desktop app"
#### Expected behaviour

Diff of XML export against source file should show differences between the way both apps save data + new transactions usefully.

#### Actual behaviour

Everything in the android export is on a single line, making the diff useless.

[2016-09-06 09:32] codinguser opened #571 "Multi-currency transactions are ignored by QIF"
#### Expected behaviour

All transactions should be included in the file, even if they are only using the converted amount
#### Actual behaviour

Multicurrency transactions are completely ignored
#### Steps to reproduce the behaviour
1. Create multi-currency transactions
2. Export QIF from the app
#### Software specifications
- GnuCash Android version: 2.1.1
- Android version: Any
- Device type: A

[2016-09-06 15:08] rivaldi8 commented on #570
Already implemented in develop branch (9af8b19). Not sure how well the unmodified parts will be preserved in relation with the desktop version.

[2016-09-07 02:38] kr4z33 commented on #503
Regarding item No. 2 above and some continuity with bugzilla. A Gnucash relative path enhancement request exists.
https://bugzilla.gnome.org/show_bug.cgi?id=767773

[2016-09-08 15:07] #570 closed

[2016-09-09 14:44] MightyLight opened #572 "Reversed legend on barchart report income"
#### Expected behaviour
The legend should correspond with the bar that represents the source of income

#### Actual behaviour
In my case, having only 2 income accounts, the legend provides the reversed color information. Pressing the bar for extra detail provides the correct name of the account

#### Steps to reproduce the behaviour
1. Opening the menu
2. Going into reports (informes in my languag

[2016-09-10 23:29] nikopp commented on #540
@codinguser I just switched to beta again and the very same problem occurs. I can't save new transactions. There is a visual feedback (a light dot) when I tap on save but nothing happens.

But it seems to be temporary! So it only happens as long as I try to use widgets to enter ne transactions.

As soon as I open the app via icon on the home screen, the save button works again!

[2016-09-10 23:29] nikopp commented on #539
@codinguser Sorry for not responding so far. No, I did not have scheduled exports.

I tried the beta again today and had no data loss.

[2016-09-11 13:53] iomartin opened #573 "Export to owncloud: "OC server not found""
When I try to export to owncloud, I get the error "OC server not found". I use the same url in the owncloud app and it works fine (it's the server's root address).
#### Software specifications
- GnuCash Android version: 2.1.1 (beta)
- System Android version: 5.0
- Device type: LG G3

[2016-09-11 20:03] nikopp opened #574 "app crashes when an account from another book is opened via widget"
#### Expected behaviour
The app should not crash but open the account linked to the widget.

#### Actual behaviour
The app crashes.

#### Steps to reproduce the behaviour
1. Have at least two different books in the app, book 1 and book 2.
2. Open book 1.
3. Create a widget (A) with an account X from book 1.
4. Open book 2. (Not sure if this step is neccessary.)
5. Create a widget (B) with an accou

[2016-09-11 20:23] nikopp opened #575 "app crashes when using back button after import"
#### Expected behaviour
App does not crash.

#### Actual behaviour
App crashes.

#### Steps to reproduce the behaviour
1. Open the app.
2. Settings -> Accounts -> Import GnuCash-Accounts (I'm guessing here since I have the german localization.)
3. Select exported .gnucash file.
4. Imported accounts are displayed.
5. Hit the back button.
6a. Sometimes the app just closes now without a crash.
6b. So

[2016-09-12 08:23] codinguser opened #576 "[User email] Currency exchange keypad does not show (comma) decimal separator for some locales"
I created an account in the actual android app v.2.0.7, for foreign currencies. But unfortunatly I can't enter proper exchange rates. The keypad offers me only a dot, which is interpreted as indicator at the thousands.
So when I want to enter an exchange rate of for example 0.014 it will change to 14. By this I only get ridiculous high numbers.
My divice is a samsung galaxy s5 mini, with android 5

[2016-09-12 16:25] rivaldi8 commented on #540
I still can't reproduce it by using the widget.

Are you using double entry? If you are, is there a list of transfer accounts to select the one you are transferring from?

[2016-09-12 16:42] rivaldi8 opened #577 "Can't save transactions on single entry mode"
#### Expected behaviour

The transaction is saved and the transaction form is closed when the "Save" button is pressed.
#### Actual behaviour
The button gives feedback when pressed, but nothing happens. No error message.

#### Steps to reproduce the behaviour
1. Disable double entry mode in _Settings > Transactions_.
2. Press '+' in some account to create a new transaction.
3. Enter an amount.
4.

[2016-09-12 16:47] rivaldi8 commented on #577
I'm working on a fix.

[2016-09-12 17:32] nikopp commented on #540
Yes and yes.

Maybe it has something to do with old widgets...

And if I have opened the app once via icon, the save button also works
after using the + of a widget.

Àlex Magaz Graça <notifications@github.com> schrieb am Mo., 12. Sep. 2016,
18:25:

[2016-09-12 17:38] nikopp opened #579 "multiple books - widget says that the account was deleted"
#### Expected behaviour
The widget shows the amount of the account.

#### Actual behaviour
The widget says that the account was deleted.

#### Steps to reproduce the behaviour
1. Use several books.
2. Create a widget.
3. Switch between books.
4. Do some other stuff / wait.
5. Notice the message that is shown by the widget.

#### Software specifications
* GnuCash Android version: 2.1.1 beta
* Syste

[2016-09-12 20:58] nikopp opened #580 "one last export date is saved for all books"
#### Expected behaviour
Last export date is saved per book.

#### Actual behaviour
One last export date is saved for all books.

#### Steps to reproduce the behaviour
1. Have more than one book.
2. Export Book 1.
3. Book 1 and Book 2 have the same (new) export date.

#### Software specifications
* GnuCash Android version: 2.1.1 beta
* System Android version: 6.0.1
* Device type: Sony Xperia Z3 com

[2016-09-13 15:17] rivaldi8 commented on #540
It's strange, the only conditions to allow a transaction to be saved are: double entry enabled, valid amount, and at least one transfer account. I can't see anything else that could prevent it from being saved.

Just to be sure, could you confirm that no transaction is created when you press save and the form remains opened? Also to discard, could you try removing and adding the widget again?

[2016-09-13 22:28] scompo commented on #485
I'm having the same issue on an asus zenphone2.
It's using android 6.0.1

[2016-09-14 19:22] rcrivano commented on #540
I was having the same problem: save button disabled when trying to insert an expense. Reading the comments, what I did was:

1) stop the application (gnucash)
2) reopen it through the application list (NOT using the widget)

At this time, the app showed me a popup listing the new features of an upgrade. After I pressed ok, everything started to work fine, even inserting through the widget. It seem

[2016-09-14 19:53] nikopp commented on #540
@rivaldi8 No transaction is created when I press save and the form remains open.
I did not try removing and adding the widget. But the guess from @rcrivano sounds plausible.

[2016-09-14 20:26] linucksrox opened #581 "When connecting to ownCloud, success text is red which looks like an error"
#### Expected behaviour
Success text should most likely be green, like in other areas of the app (maybe some other color, I'm not a designer). Specifically, I'm referring to the three text elements on the export to ownCloud dialog, after clicking Test:

- OC server OK
- OC username/password OK
- Dir name OK

#### Actual behaviour
After clicking Test, the text color of these three elements is red w

[2016-09-15 17:38] rivaldi8 opened #583 "Scheduled exports are always executed twice a day"
#### Expected behaviour
Scheduled exports are executed according to the frequency set (daily, weekly...).

#### Actual behaviour
Scheduled exports are always executed twice a day, independently of the actual frequency set.

#### Steps to reproduce the behaviour
1. On the application menu, select _Export_.
2. Select _SD card_ as destination.
3. Press _Tap to create schedule_.
4. Select
 * REPEAT WE

[2016-09-15 17:40] rivaldi8 commented on #583
I'm working on a fix.

[2016-09-16 15:25] singpolyma opened #584 "Latest update won't let us pick the file to open"
#### Expected behaviour

When hitting "open", be asked what app to use for selecting the file.  Used "Amaze" to allow choosing files from any folder.

#### Actual behaviour

A crippled menu appears that only allows picking files from drive or downloads.

[2016-09-16 17:42] nikopp opened #586 "app crashes when switching between different books if recent/favorites selected"
#### Expected behaviour
Switch to selected book.

#### Actual behaviour
App crashes.

#### Steps to reproduce the behaviour
1. Open the app.
2. Swipe to recent or favorites.
3. Tap on menu and switch to another book.
4. Crash.

#### Software specifications
* GnuCash Android version: 2.1.1 beta
* System Android version: 6.0.1
* Device type: Sony Xperia Z3 compact

[2016-09-17 18:04] codinguser commented on #584
This is a change in functionality which should be documented better, sorry.
The Open menu only allows access to files which are reachable through the Storage Access Framework.
In order to access all kinds as before, go through Settings --> Accounts --> Import GnuCash XML

[2016-09-17 18:04] #584 closed

[2016-09-17 18:27] linucksrox commented on #581
Fixed in 79bc80e

[2016-09-17 18:27] #581 closed

[2016-09-17 18:40] linucksrox commented on #573
What does your server url look like? Mine works using https://cloud.example.com
Would you mind telling us exactly what you typed inwondertituting your domain name with example)? I also wonder if it matters whether you use http or https, but I doubt that should matter.

[2016-09-18 11:36] rivaldi8 commented on #583
Fixed in hotfix/patches.

[2016-09-18 11:36] #583 closed

[2016-09-19 14:51] #577 closed

[2016-09-20 17:23] rivaldi8 commented on #580
I can't seem to reproduce the issue, I see each book with its export date. Also the code looks correct.

You refer to the "since" date that appears in the export form, don't you? Which format are you exporting to? These books were created in a previous version of GnuCash or did you create them in the one you report?

[2016-09-20 19:21] iomartin commented on #573
My server is at https://example.com/owncloud

I also tried with http, but it didn't work either.

[2016-09-20 21:03] hazzl opened #588 "Setting default transaction type doesn't stick"
When I set the default transaction type in the preferences pane to 'credit', return to the application and immediately reopen the preferences pane, the default transaction type is still displayed as 'debit'. Instead the transaction type should be listed as 'credit'.

Also all new transactions are in fact created as 'debit'.
#### Software specifications
* GnuCash Android version: 2.1.2
* System And

[2016-09-21 18:25] rivaldi8 commented on #576
@codinguser Have you been able to reproduce it? In my phone (5.0) and from an emulator (5.1) the keypads both have the comma and the dot, and are interpreted correctly. Also the keypads look totally different from the one in the screenshot. Maybe the user has some non-standard keyboard installed.

[2016-09-21 19:17] nikopp commented on #580
No. I just checked and that is ok. Sorry to be unclear about that.

I refer to the "manage books" section that can be selected via the menu and the drop down for the books (last entry). All books are listed there together with the number of accounts and the number of transactions. The last line is the date of the last export and it is the same for all books.

QIF

They were created with the one I

[2016-09-22 05:38] zutroy97 commented on #485
I have this issue as well. Worked great once upon a time, however nothing shows up in my google drive. The expert seems like it is working by saying it is connected to google drive and exporting gnucash -> google drive, but nothing is there.

I deleted the GnuCash folder in Google drive thinking a new one would be created...it hasn't yet.

Thanks for your time and this great product.

[2016-09-22 15:22] dhwaneetbhatt commented on #485
@zutroy97 and @scompo Try emptying your Google Drive bin and export again. In my case the file was getting created even if the folder was present in bin.

[2016-09-22 17:07] rivaldi8 commented on #580
Thanks for the clarification! I see the problem now :) I'll work on a fix.

[2016-09-22 19:19] #580 closed

[2016-09-22 19:21] rivaldi8 commented on #580
Fixed in hotfix/patches. Will be included in version 2.1.3.

[2016-09-23 16:10] zutroy97 commented on #485
I didn't find a "bin" folder. Is that the same as "Trash?"
At any rate, I set up a scheduled export. After a few days I noticed 3 GnuCash folders in gDrive. How is that possible?
One of them contained all the exports. I deleted the other two (which had no entries.)
Seems to be working now, I have no idea what changed or what I did to "fix" it.
Thank You for your response.

    On Thursday, Septemb

[2016-09-23 16:16] scompo commented on #485
@dhwaneetbhatt
Deleting the folder from the trash solved the problem, now it's working for me.

[2016-09-23 22:05] rivaldi8 commented on #579
@codinguser This is fixed in ff894a5, isn't it?

[2016-09-24 19:34] rivaldi8 commented on #579
Ok, I've verified it's fixed by that commit. It'll appear fixed in version 2.1.3. You may need to remove the widget and add it again for it to work.

[2016-09-24 19:34] #579 closed

[2016-09-25 14:16] zhuravlev-alexey commented on #573
I have the same problem. My owncloud URL: https://oc.example.com:9943/owncloud/

[2016-09-25 14:27] linucksrox commented on #573
I tested this on a server with that extra path (the extra /owncloud at the end) and had this issue intermittently. Most of the time it worked fine, but when I repeatedly pressed the test button, eventually it would crash or give the OC server not found error. I'm not sure where to go from here.

[2016-09-28 22:00] hughdavenport opened #590 "Feature: allow configuring a max depth for reports"
I was thinking if you had something like assets:entertainment:food and assets:entertainment:drinks then it would sometimes be more useful to just show the combined assets:entertainment in the reports.

An additional feature would be to drill into that account more when you click on that slice and a new report is shown just for those subaccounts.

Dunno if this would be easier as a max depth config

[2016-09-30 03:19] linuxluser commented on #564
When you first check the box, you get a notification: "Connected to Google Drive" but the checkmark does not change. If you press the back button and then touch the "Restore Backup ..." option again, you can visibly seen the checkmark. See ![screenshot](https://cloud.githubusercontent.com/assets/41452/18979669/f38a57bc-8681-11e6-95e4-cef748cc1943.png).

[2016-10-03 15:48] rivaldi8 commented on #590
I think it would be a nice feature. The problem I see is getting the usability right.

Personally, I don't like the idea of having an account option for accumulating or not subaccounts. A max depth option also seems cumbersome. At most I'd add an option at report level to toggle grouping subaccounts (like "Group Smaller Slices" option already present). But I'm really not sure, just some quick thou

[2016-10-03 18:50] rivaldi8 opened #591 "Scheduled exports run with each service run until missed executions are recovered"
#### Steps to reproduce the behaviour
1. Create a scheduled export.
2. Miss some executions (by turning off the phone, for example).

#### Expected behaviour
The scheduled export isn't executed until the next planned execution.

#### Actual behaviour
The scheduled export is executed every time the ScheduledActionService runs until the missed executions have been done. For example, if two execution

[2016-10-04 12:31] codinguser commented on #564
Yes, I can confirm this. But it was/is very low priority bug for me.

[2016-10-04 12:56] codinguser opened #592 "Widget set on a placeholder account should list the subaccounts instead of a transaction form."
#### Steps to reproduce the behaviour
1. Create homescreen widget with placeholder account
2. Click the widget button to add transactions

#### Expected behaviour
3. It should have a button which just opens the account

#### Actual behaviour
4. It opens up to add a transaction to a placeholder account.
Placeholder accounts cannot / should not contain transactions

#### Software specifications
* Gn

[2016-10-04 13:32] codinguser commented on #579
@rivaldi8 yes, that commit adds support for selecting the book when adding a widget

[2016-10-04 13:34] codinguser commented on #591
Is this still an issue in the current code base in `hotfix/patches`?
I vaguely remember running into this and fixing it. But I may be wrong

[2016-10-04 13:59] codinguser commented on #590
I agree with @rivaldi8 that I would also prefer not to add another option for maximum depth. If necessary, the "group small slices" option could be used. But I think there is an even better way....

@hughdavenport What I planned to do if I had the time would be to implement a text Balance Sheet report that would display a summary for all accounts like the way this app does: https://play.google.com

[2016-10-04 14:03] codinguser commented on #576
@rivaldi8 No I haven't, which is why there is no progress here.
This is low priority because I guess it affects a very small subset of devices which set a special customized keyboard. The combination of this and something with the locale for the interpretation of period.
I only ever got one user report of this, no it is low priority.

I'm also not sure if this was fixed by the fixes you made some

[2016-10-04 14:10] codinguser commented on #485
Hey guys,
@dhwaneetbhatt your suggestion is correct. For some reason, Google Drive identifies a folder as existing even if it is in the trash. So the exports keep going there.

@zutroy97 Sometimes multiple folders get created due to the way it is implemented at the moment. This could be fixed, I think, but it's not trivial and so we just haven't gotten around to it.

We hope to make major overhaul

[2016-10-04 15:29] rivaldi8 commented on #576
Ok, then as long as we don't get more complains about this It should be better to leave it as it is.

[2016-10-04 16:13] rivaldi8 commented on #591
I think you refer to #583 which is similar but not the same. There's still another bug related with scheduled action that I'll report shortly.

[2016-10-04 18:18] rivaldi8 commented on #591
I think you refer to #583 which is similar but not the same. There's still another bug related with scheduled action that I'll report shortly.

[2016-10-04 18:27] rivaldi8 opened #594 "Scheduled actions don't run due to #583"
A scheduled action computes its next scheduled run based on its current execution count. Due to bug #583 the execution count might've got high and, as a consequence, the next scheduled date will be far in the future, so it won't run.

For example, I had a weekly export set up recently which should have had just a few executions but, due to the bug, it got 44.

[2016-10-04 18:33] rivaldi8 commented on #594
@codinguser if #591 is solved with the pull request I've sent, my plan is to reset execution counts to 1 on database upgrade so they get adjusted to the correct value.

[2016-10-06 08:34] codinguser commented on #594
So does this only occur for people who already experienced bug #583, but the rest are unaffected?
I would rather not reset execution counts, they are very important for scheduled transactions.

The route I would suggest is that we completely ignore `executionCount` for exports/backups. Only look at the lastRunTime, the period and the end date. If a whole period has passed since lastRun, then execu

[2016-10-08 18:54] filograno opened #596 "App crashes when changing the orientation from portrait to landscape in welcome section"
#### Steps to reproduce the behaviour
1. Open the app for the first time
2. In welcome screen change the orientation of the phone from portrait to landscape

#### Expected behaviour
The app fits the orientation changes

#### Actual behaviour
The app crashes

#### Software specifications
* GnuCash Android version: 2.1.2-beta0
* System Android version: 5.0.2
* Device type: Motorola Moto G (second ge

[2016-10-10 15:18] rivaldi8 commented on #594
Fixed in hotfix/patches.

[2016-10-10 15:18] #594 closed

[2016-10-10 15:19] rivaldi8 commented on #591
Fixed in hotfix/patches.

[2016-10-10 15:19] #591 closed

[2016-10-10 21:43] czan opened #598 "Widget options (display name and whether to show balance)"
I'm interested in adding some extra options to the widget when it's created. In particular I'm looking at adding:
 - an option to change the text that is displayed on the widget, so we're not forced to use the same string as the account name
 - an option to have a widget that does not display the current balance of the account, so we don't have to worry about people knowing our balances from our h

[2016-10-13 14:02] codinguser commented on #598
Thanks for the code and for creating this issue so the features can be discussed.

Here are my thoughts on this:
1. What is the benefit of showing some text other than the account name on the widget? This seems like adding complexity with only marginal benefit. Or do you have some use-case in mind?
@rivaldi8 what do you think?
2. Is the point of a widget with no amount displayed only just to act a

[2016-10-13 15:37] rivaldi8 commented on #598
@codinguser I thought the same as you about 1. There should be a really good reason to justify the added complexity.

About 2, I'd like to add something. It would be nice to have the option to show the balance checked by default, unless the user has set a passcode, then it would be unchecked. This would align more with the privacy concerns of the user.

[2016-10-13 16:23] codinguser commented on #598
Yes, I like your point about 2. Unchecked by default if passcode is set 👍🏾

On Thu, Oct 13, 2016 at 5:37 PM +0200, "Àlex Magaz Graça" <notifications@github.com> wrote:

@codinguser I thought the same as you about 1. There should be a really good reason to justify the added complexity.

About 2, I'd like to add something. It would be nice to have the option to show the balance checked by default, u

[2016-10-14 00:05] czan commented on #598
I have two main reasons for 1.

- Similarly to why I think 2 is a good idea, having to use the account name might leak information. I would like my accounts to have meaningful names when I am working with them, but when displayed on the home screen I may want to give it a less meaningful name in order to obscure its meaning to others. (In general, I would consider the widget "public information" a

[2016-10-14 06:50] codinguser commented on #598
@czan I understand what you mean about obscuring the name, or renaming an account in the hierarchy. The added complexity is not just about the code (although that is one) but also the user experience (and decreasing clutter - feature creep is real). Also, there is the question of cost/benefit.  Code that is written has to be tested, maintained over many years.

As far as I can tell this is not a f

[2016-10-14 14:29] czan commented on #598
I've just made a pull request for the account balance checkbox.

I still disagree with you on the account name issue. I don't think adding an extra text field to the widget creation dialog makes things significantly more complex or cluttered. Creating a widget is not something that is part of a regular workflow: once they are set up the field wouldn't be in the way or be seen.

In the end it's you

[2016-10-17 17:12] rivaldi8 commented on #574
Fixed in ff894a5 (hotfix/patches).

[2016-10-17 17:12] #574 closed

[2016-10-18 07:06] codinguser commented on #571
@rivaldi8 would it be possible for you to look into this?
I will move it to milestone 2.1.4 so that I can go ahead and release 2.1.3 and all the fixes already in it.

[2016-10-18 15:12] rivaldi8 commented on #571
Ok! I'll look into it.

[2016-10-18 16:38] #596 closed

[2016-10-18 17:21] codinguser commented on #598
Fixed in v2.1.3

[2016-10-18 17:21] #598 closed

[2016-10-18 17:23] codinguser commented on #586
I'm not able to reproduce this on my device (Nexus 5, Android 6).
@rivaldi8 can you reproduce this?

[2016-10-18 17:49] nikopp commented on #586
@codinguser: I just produced this crash and sent an error report when I was
asked if I want to. Maybe that helps...

[2016-10-18 18:07] codinguser commented on #586
@nikopp yes, it helps. I'll be on the lookout for it.
Thanks

[2016-10-18 18:12] rivaldi8 commented on #586
@codinguser I'd swear I reproduced it yesterday, but I'm unable to do so now. As I keep changing branches, maybe it was with another one or under another condition.

@nikopp Are you able to reproduce it always?

[2016-10-18 18:17] nikopp commented on #586
@rivaldi8 No. A few weeks ago it happened all the time but now it often works several times before it crashes.

[2016-10-19 12:48] #568 closed

[2016-10-19 14:14] #592 closed

[2016-10-20 15:21] #552 closed

[2016-10-24 23:26] hughdavenport opened #603 "Bug: scheduled transactions with multiple splits end up going to imbalance"
Ive noticed that my scheduled transactions imported from desktop with multiple splits will chuck it in imbalance instead of where the split shows.

One example is salary, have $100,000,000 (i wish!) in income:salary, and then all that goes to assets:bank. I also have some in same split going budget:thing1, budget:thing2 and the sum of all the budgets (inversed) to budget so it all cancels out.

Wh

[2016-10-25 17:41] rivaldi8 opened #604 "Scheduled exports aren't executed if they're checked before the next run"
Scheduled exports won't be executed if the scheduled action service runs before the next run. The reason is that [ScheduledActionService.executeScheduledEvent](https://github.com/codinguser/gnucash-android/blob/d1c31033366ae7044e4b115b9ac021060660ef18/app/src/main/java/org/gnucash/android/service/ScheduledActionService.java#L145) sets the scheduled action's last run even if it hasn't actually been

[2016-10-25 18:18] codinguser commented on #603
Yes please, an example book would be awesome and would help us fix the
problem.
Thank you.

On Tue, Oct 25, 2016 at 1:26 AM, Hugh Davenport <notifications@github.com>
wrote:

[2016-10-26 07:28] hughdavenport commented on #603
Cool. Ill try get one this weekend

[2016-10-27 10:25] czan opened #607 "Widgets stop functioning after changing book"
#### Steps to reproduce the behaviour
1. Create two books.
2. With `Book 1` active, create a widget looking at any account in `Book 1`
3. Open `Book 2` (making it active), then restart your device
4. Observe that the widget created in step 2 no longer displays the selected account
#### Expected behaviour

The widget continues to display the account it was created with.
#### Actual behaviour

The w

[2016-10-29 04:43] rivaldi8 commented on #607
Unless I'm missing some easy way to get the book associated to a widget, I agree with using the second option. Although I'd rather like to have a widget's preferences stored along with its book, it seems it would unnecessarily complicate the code.

@codinguser What do you think?

[2016-10-30 17:58] rivaldi8 opened #609 "Scheduled exports always include transactions since the action's creation date"
The transactions exported include the ones in the period starting at the date of creation of the scheduled backup instead of the date of the last time it was executed.

The export is done with the date in `ScheduledAction.getTag()` as the date at which it should start to export transactions. The problem is that this date isn't updated after an scheduled export is run and stays at the creation date

[2016-10-31 07:44] psamim commented on #147
Another option would be to share the underlying database file between desktop and Android version.

I mean let the Android app use/read/write to a XML or SQLite file and one can use Dropbox/Syncthing to sync and have this same database also on desktop so that Gnucash on desktop can use the same file.

[2016-10-31 10:00] codinguser opened #610 "[USER REPORT] Reports not displayed when there is no internet"
#### Steps to reproduce the behaviour
When the wifi is on, but too distant of a wifi source, and 3G is on, but without credits in the cell company, the graphics and reports show "no data avaliable".

#### Expected behaviour
Reports always shown

#### Actual behaviour
"No data available" is displayed.
To solve the problem I need to turn off the 3G function in the smartphone's configuration.

#### S

[2016-10-31 10:14] codinguser commented on #607
@rivaldi8 I'm fine with the second option. The implementation in #608 also looks cleaner than before.
Thanks @czan .

[2016-10-31 11:03] codinguser commented on #607
@rivaldi8 how about we just move this to v2.2.0?
The patch depends on changes already made for hiding balances, etc.

[2016-10-31 11:25] #604 closed

[2016-10-31 18:04] rivaldi8 commented on #607
@codinguser Ok, moved to 2.2.0.

[2016-10-31 18:04] #607 closed

[2016-10-31 19:14] rivaldi8 commented on #609
Fixed in hotfix/patches.

[2016-10-31 19:14] #609 closed

[2016-11-02 02:48] shackra commented on #233
Man, I just want to sync transactions on my desktop GNU Cash book with Android and vice versa. Importing the Qif file exported by Android to the Desktop works fine. However, I can't sync the other way without creating a new book on Android.

What am I doing wrong?

[2016-11-06 13:33] nikopp commented on #579
@rivaldi8 The problem is still present in 2.1.3. I did remove the widgets and added them again.
But it happens only sometimes, not as often as with 2.1.2.
And the widgets start working again without recreating.
I couldn't find out why they stop or why restart working. There seems to be no obvious trigger.
I also had the case that only some widgets for one book show the message while others still w

[2016-11-06 18:02] rivaldi8 commented on #579
This makes me think we are dealing with a different, although similar, bug. If you don't mind, I'll rather have it filed as new bug. Thanks!

[2016-11-07 11:55] codinguser opened #611 "Custom date range doesn't work properly in reports"
From user email:
I found a small bug where when viewing charts using custom range period, the chart always display the data until today.

So the beginning date is correct, but the data shown always include everything until today, and not until the specified end date.

[2016-11-10 19:22] rivaldi8 commented on #571
I've sent a pull request, hopefully fixing the issue.

Now the multi-currency transactions are exported, but I'm not sure if they're exported in the expected way. In my tests I got two cases.

* Entering an amount of 20 in Local, 15 in converted amount (Foreign)
[code]
* Entering an amount of 10 into Local:
[code]

[2016-11-12 18:54] nikopp opened #613 "multiple books - widget says that acount was deleted or shows "account name""
#### Steps to reproduce the behaviour
1. use several books
2. use widgets for differen books

#### Expected behaviour
Widgets show the account name.

#### Actual behaviour
1. Sometimes some widget show "Kontoname" (German version, translation might be "account name") and no amount. Neither the click on the widget or the click on the +-button has a visible effect.
2. Sometimes some widget shows a m

[2016-11-12 18:54] nikopp commented on #579
I filed #613.

[2016-11-14 21:44] BlackDragon381 opened #614 "Several currencies export problems"
#### Steps to reproduce the behaviour
DB with different currencies

#### Expected behaviour

#### Actual behaviour
When exporting app creates several files, one for each currency (in which of them multi currency transactions?). For what is it needed?
When i import file with not main currency, gnucash create duplicate counts branchs, but in the end of branc count have my main currency, not currency

[2016-11-15 15:59] dannywillems opened #615 "Timestamp 0 when never exported."
#### Steps to reproduce the behaviour
1. Create a new book.
2. Manage books...

#### Expected behaviour
A message like `Never exported`.

#### Actual behaviour
`Last exported: 1970-01-à1 01-00-00.0`

#### Software specifications
* GnuCash Android version: 2.1.3
* System Android version: 6
* Device type: Phone.

[2016-11-15 17:26] bgainor opened #616 "Export to Google Drive silently fails"
Not sure if this is an issue related to 2.1.3, or if Google changed their API, but export to Google Drive seems to be silently failing.

#### Steps to reproduce the behaviour
1. Select "Export..." from left tray
2. Select export to "Google Drive", format QIF, default value for "Since"
3. Check "Delete transactions after export"
4. Tap "EXPORT"

#### Expected behaviour
Transactions to be deleted
Me

[2016-11-15 19:03] rivaldi8 commented on #611
I can confirm the problem. In my tests, there's also some problem with the start date. For some reason it always starts at the 16th of the month where the range starts.

[2016-11-15 19:09] rivaldi8 commented on #560
I can't reproduce it with 2.1.3.

[2016-11-17 19:00] rivaldi8 opened #617 "Weekly scheduled exports are listed with the wrong day"
#### Steps to reproduce the behaviour
Create a weekly scheduled export on Sundays.

#### Expected behaviour
The scheduled export is listed as "Weekly on Sunday".

#### Actual behaviour
The scheduled export is listed as "Weekly on Thursday".

Reported through UserVoice (ticket 143).

[2016-11-17 19:01] rivaldi8 commented on #617
Confirmed. It seems it always shows "Thursday" independently of the day chosen.

[2016-11-19 10:54] rivaldi8 commented on #615
Fixed in hotfix/patches.

By the way, I could only reproduce it by going through the first run wizard and choosing to create the account myself. Creating a new book in any other way would always set the current date as last exported.

[2016-11-19 10:54] #615 closed

[2016-11-19 11:35] rivaldi8 commented on #616
I can't reproduce it.

Please, could you confirm that adding a transaction just before exporting, no file is created in Google Drive.

In some of my tests I couldn't see any folder or file listed. However, the .qif file appeared in the _Activity_ tab of the _Show details_ pane on the right. Could you check that no exported file appears there either (you may have to press the "i" button at the top

[2016-11-21 14:42] bgainor commented on #616
Yes, I added a test transaction, and then exported. It said it was exporting to Google Drive, but no QIF files appear in the Activity tab in Google Drive.

[2016-11-21 20:52] codinguser commented on #616
@bgainor did you recently delete a GnuCash folder from Google Drive? Because the app uses folder IDs, sometimes, it happens that it keeps exporting to that folder even if it is in the trash.
Alternatively you could try disconnecting and re-connecting Google Drive authorisation in the Export settings.

[2016-11-21 21:09] bgainor commented on #616
I don't remember deleting any folders (in fact, I had two different folders named GnuCash; I think as a result of switching to a new phone), but deauthorizing and reauthorizing Google Drive in the export settings seems to have done the trick (I now have _three_ folders named GnuCash). It still would be helpful, however, to not silently fail and still delete transactions when this happens, since in

[2016-11-22 08:54] codinguser commented on #616
@bgainor Data loss sucks... sorry about that.
Always remember that a backup is always generated immediately before deleting transactions. So you should be able to restore the state of your book before export.

We are continuously working to improve our backup/export workflow.
Cheers,

[2016-11-22 13:09] bgainor commented on #616
Thanks, that's good to know. Sorry if I overreacted. I still think there should be a ticket for only deleting transactions if the export was successful, but should I close this one and open a new one specifically for that issue?

[2016-11-22 16:30] rivaldi8 opened #618 "Transactions shouldn't be deleted if there's some error when exporting"
#### Steps to reproduce the behaviour
Export with:
  - format: QIF or OFX
  - target: DropBox, Google Drive or ownCloud
  - check _Delete transactions after export_ option

#### Expected behaviour
If there's an error exporting the file to the selected target, no transactions are deleted.

#### Actual behaviour
Transactions are deleted even when the file hasn't made to the target.

#### Software sp

[2016-11-22 16:33] rivaldi8 commented on #616
Don't close this one, it should be fixed too. I've filled another issue for the deletion of transactions: #618

[2016-11-22 19:41] rivaldi8 commented on #616
@codinguser the code in [ExportAsyncTask.moveExportToGoogleDrive](https://github.com/rivaldi8/gnucash-android/blob/bed92fc20534dfd340308d2d3079ccdcbd3b1504/app/src/main/java/org/gnucash/android/export/ExportAsyncTask.java#L288) is run asynchronously, but the code that calls the method seems to expect it to run synchronously. I'd say the easiest way to fix these issues would be to make it synchrono

[2016-11-22 19:55] codinguser commented on #617
hmm, that's a weird one. Will look at the parsing again when I have some time to see if it is coming from our code or a library

[2016-11-23 08:19] rivaldi8 commented on #617
I already found the problem. Sorry, I should've commented on it earlier.

[Recurrence.getRepeatString](https://github.com/rivaldi8/gnucash-android/blob/6032f0541cca33f34f0c594fedaa7222751b2cf7/app/src/main/java/org/gnucash/android/model/Recurrence.java#L137-L137) is taking the day of the week from `mPeridoStart` instead of from `mByDay`. So "Thursday" is just a coincidence, it's really showing the

[2016-11-30 21:40] widzian commented on #573
I have the same problem when I use a self-signed certificate in owncloud. When I have created my own CA, added them to the device keystore and reconfigure owncloud problem disappeared.
e.g https://blog.didierstevens.com/2008/12/30/howto-make-your-own-cert-with-openssl/

[2016-12-01 09:10] rivaldi8 opened #620 "When an account is edited, its color is lost"
#### Steps to reproduce the behaviour
1. Set the color of an account
2. Edit the account.
3. Press save

#### Expected behaviour
The color of the account remains the same.

#### Actual behaviour
The color is unset.

#### Software specifications
* GnuCash Android version: 2.1.3
* System Android version: 5.0
* Device type: bq Aquaris E4

[2016-12-01 10:32] rivaldi8 opened #621 "Default accounts are created in English when no region-specific is available"
#### Steps to reproduce the behaviour
1. Set the phone locale to a language variant for which default accounts aren't translated. For examples _Spanish (United States)_.
2. Load default accounts:  _Settings > Accounts > Create default accounts_.

#### Expected behaviour
Default accounts for locale _Spanish (Spain)_ are loaded, as it's the closest translation available.

#### Actual behaviour
Defau

[2016-12-01 10:46] rivaldi8 commented on #621
Renaming `app/src/main/res/raw-es-rES` to `raw-es` solves the problem.

I see all raw and lots of values resources have this problem. I think we should rename all of them removing the region-specific suffix (`raw-fr-rFR` to `raw-fr`, `values-pt-rPT` to `values-pt` and so on). @codinguser what do you think?

[2016-12-01 17:47] rivaldi8 commented on #620
Fixed in hotfix/patches.

[2016-12-01 17:47] #620 closed

[2016-12-03 17:31] davidlandry93 commented on #616
I had the same problem a few days ago.

Device Type: LG G3
Android Version: 6.0
GnuCash version: 2.1.3

[2016-12-08 18:16] schvabodka-man opened #625 "Hourly backup schedules set as monthly"
#### Steps to reproduce the behaviour
1. Set hourly schedule for importing to cloud
2. Click export
3. It will set to monthly, not the hourly

#### Screenshots
![alt tag](https://locker.ifttt.com/f/f05bc425-265f-466a-bb0f-f95851fb89ec.png)
![alt tag](https://locker.ifttt.com/f/035e2905-0a78-40b3-9d1d-f5f3e4b04713.png)
![alt tag](https://locker.ifttt.com/f/48523c57-23ee-45f8-b6a0-ea7f574bb61b.png)

[2016-12-08 20:31] rivaldi8 commented on #616
I've looked into it again and finally decided to make it run synchronously. I've just made a minimum fix for 2.1.4. I'll try to improve the error reporting for exports in general for the next release.

Fixed in hotfix/patches (a082531).

[2016-12-08 20:31] #616 closed

[2016-12-13 09:51] pnemonic78 commented on #603
I have similar problem, and noticed that the transaction currency was different than the split quantity and split value currencies.

[2016-12-14 10:05] mnetzwur opened #630 "Cannot perform operation on Money instances with different currencies"
#### Steps to reproduce the behaviour
1. Install gnucash for android
2. Import books from gnucash for desktop
3. Import updated version of books from gnucash for desktop

#### Expected behaviour
The new gnucash data imports as expected.

#### Actual behaviour
The import fails with "Cannot perform operation on Money instances with different currencies." If I delete app data and import the same file

[2016-12-20 07:28] pnemonic78 opened #631 "Date and time format should be per system settings"
#### Steps to reproduce the behaviour
1. go to system settings
1. Date and time
1. "Use 24-hour format" checked
1. Go to gnucash
1. Add or edit transaction

#### Expected behaviour
Time should be 24-hour format

#### Actual behaviour
Time shows with "a.m"/"p.m"

#### Software specifications
* GnuCash Android version: 2.1.3
* System Android version: 6.0.1
* Device type: Samsung Android

[2016-12-22 17:17] rivaldi8 commented on #603
I think I can reproduce it with my expenses file. In my case they are just simple transactions transferring from one account.

@hughdavenport in your case do you have multiple currencies in the affected transactions like @pnemonic78 or just one?

[2016-12-22 17:58] rivaldi8 commented on #631
It seems it formats the time according to the default for your locale (see [`TransactionFormFragment.TIME_FORMATTER`](https://github.com/rivaldi8/gnucash-android/blob/54d9149b7d47e145f71912ae72524081ed4f69f4/app/src/main/java/org/gnucash/android/ui/transaction/TransactionFormFragment.java#L143-L143)), which might not be the same as the one set in Android settings. In my case it's the reverse. I ha

[2016-12-24 12:02] Pir4nh4 commented on #573
I tested the issue in my installation and verified the problem with self-signed certificates. As a simple workaround you could use a certificate by letsencrypt.org . Since they provide free certs I consider this anyways the better solution. Hope that helps.

[2016-12-24 12:08] Pir4nh4 commented on #488
How about an APG integration for the export? Anyways you can still encrypt the backup files manually with APG. It provides quite good key management and encryption for files, text, etc. And additional mail integration with K9 mail. Hope that helps.

[2016-12-27 20:28] hughdavenport commented on #603
Hey,

Sorry I completely forgot about this one! From memory it was just the one currency. I haven't really been using this app for a while.

[2016-12-30 11:03] kelteren opened #632 "Not able to export to "Encrypt with OpenKeychain""
I want to be able to use the app OpenKeychain for encrypting files when sending files back and forth between devices. However it does not work with gnucash app.

Being able to use this toolchain would also in some way solve feature request #488

#### Steps to reproduce the behaviour
1. Use "Export..."-option in meny to export transactions
2. Select "Export to" in Send to..." in order to send to an

[2016-12-31 00:28] diogocp opened #633 "App crashes when changing orientation while viewing reports"
#### Steps to reproduce the behaviour
1. Open one of the reports (pie chart, line chart, bar chart or sheet).
2. Turn the phone to change the screen orientation.

#### Expected behaviour
Report shows in the new screen orientation.

#### Actual behaviour
App crashes.

#### Software specifications
* GnuCash Android version: 2.1.3
* System Android version: Android 6.0.1, CyanogenMod 13.0
* Device typ

[2016-12-31 16:32] rivaldi8 commented on #633
Confirmed.

[2016-12-31 16:45] rivaldi8 commented on #632
We are aware of this problem, but haven't been able to fix it. In case it's useful to someone, I'm adding here some notes from when I tried to fix it:

I've tried different combinations of: adding a "content" scheme, removing some attributes from `<data>`, and removing the leading "/" in `pathPattern`.

I've tested opening a `.gnucash` file from "Downloads" app, OpenExplorer, CyanogenMod File Mana

[2017-01-02 14:08] rivaldi8 opened #634 "Allow to rename books"
#### Steps to reproduce the behaviour
1. Import a book from a file or create a new one.

#### Expected behaviour
There's an option to change the book name.

#### Actual behaviour
The book is named after the file from where it was imported or "Book N" for new books, but there's no option to change it.

#### Software specifications
* GnuCash Android version: 2.1.3

[2017-01-03 08:32] shrddr opened #635 "BYN currency support not stable"
#### Cases in which it fails

1. Export xml, add a BYN account with desktop gnucash 2.6.13, in gnucash-android open the .gnca file
2. Create default accounts with USD currency, manually create an account with BYN currency in Assets, go to Assets
3. Set default currency to BYN and create default accounts, go to main screen

#### Expected behaviour in each case

1. Import success
2. Show the list of

[2017-01-05 21:16] gabrielsimoes commented on #250
I think this information should be added to contribution part in readme

[2017-01-06 17:14] gabrielsimoes commented on #503
Following up this discussion, as I am planning on getting it going, No.2 has been implemented, but looks like it'll only be available by spring 2017 with release 2.7.

[2017-01-07 11:26] rivaldi8 commented on #635
This currency isn't supported by Java until the latests releases (see [this OpenJDK bug report](https://bugs.openjdk.java.net/browse/JDK-8171296)). It seems it's possible to add new currencies, but only from Java 7 onwards.

One possibility would be to use [Joda-Money](http://www.joda.org/joda-money/). It supports BYN and can be easily extended to support any new currency. It's not API stable yet,

[2017-01-10 01:42] BroMattMiller opened #636 "Reconciliation Flag Erased when Copying XML from PC"
#### Steps to reproduce the behaviour
From PC create create a new book.  Transfer $1.00 from "Equity:Opening Balances" to "Assets:Current Assets:Cash in Wallet."  Click on the "R" column to set the transaction to "Cleared."  Close GnuCash, then copy the .gnucash file to the Android device and open it.  Then export it, selecting the "XML" format.  Copy the exported file to the PC and open it.  The

[2017-01-10 07:34] Kinny2014 opened #637 "All pages of the main interface did not update the UI when the collection is canceled."
#### Steps to reproduce the behaviour
1.

#### Expected behaviour

#### Actual behaviour

#### Software specifications
* GnuCash Android version:
* System Android version:
* Device type:

[2017-01-10 17:21] codinguser commented on #614
QIF does not support currency information. So GnuCash creates a file for each of the currencies in use so that during import, you could specify what currency it is in the desktop importer.
This works well when you use different currencies in different (non-linked) accounts. But when working with multi-currency transactions, not so much.

If I recall correctly , during export multi-currency transac

[2017-01-10 17:23] codinguser commented on #560
I think this might be a bug which we had with translations. The menu was wrongly translated and so the action the user selected and what happened were two different things. I'll check again in the German version.
I'll close this for now unless it pops up again.

[2017-01-10 17:23] #560 closed

[2017-01-10 18:31] codinguser commented on #621
I think we can definitely do that for the raw values. If there are region specific files, we should use them, otherwise, we can rename one folder to the basic locale (without region eg. raw-pt or raw-es) as a fallback for all the other locales where we do not have specifics.

I am more concerned about doing this for the languages though. Language is tricky, and sometimes there are big differences

[2017-01-10 18:34] codinguser commented on #625
@schvabodka-man We do not handle hourly schedules at the moment. But since the dialog is generated through a library, there was no easy way to remove it from the UI.

We could consider implementing an hourly schedule if there is demand for that. This is the first request I've had on that.
What do you think @rivaldi8 ?

[2017-01-10 19:33] rivaldi8 commented on #614
@codinguser the conversion of multi-currency transactions is not merged yet (see #571).

[2017-01-10 21:21] codinguser commented on #630
Do you have multiple currencies in your books? What are they?
It might not be a conflict with your transactions but with the way the import is handled in the app. You said it is the same (only updated) book, so the root account might be the same.
We'll have to take a look into the import again. If we need further info, we'll let you know.

Thanks for reporting this!

[2017-01-10 21:30] codinguser commented on #631
We could try to change it to something similar to that described here: http://stackoverflow.com/a/3401023

[2017-01-11 08:14] codinguser commented on #614
@rivaldi8 ok, I'll get to it. Working my way through my backlog ;)

[2017-01-11 08:32] codinguser commented on #632
This also ties in with the feature of allowing GnuCash Android to show up in the "Open with.." list when handling .gnucash files. It doesn't show up at the moment, and I haven't also figured out how to do it yet.

[2017-01-11 08:37] codinguser opened #638 "[UNVERIFIED] App closes on launch instead of displaying wizard"
#### Steps to reproduce the behaviour
Hello Sir/Madam,

I installed GNUCash app on my android phone OnePlus 3T which is running on MarshMallow version today.

When I tried to load the app, it showed me welcome message and asked me to choose how to set up my accounts, when I clicked finish button, app disappeared. I tried reinstalling the app multiple times, but each time the same issue is repeatin

[2017-01-11 08:50] codinguser commented on #503
@gabrielsimoes good to hear that you're looking into getting this off the ground.
I would suggest writing out your plan for the feature and how it will impact other parts of the system so that it can be discussed and you get input before starting work.

Off the top of my head, questions like will this be an Android only feature which is not syncable to desktop. (my guess is yes, because even with

[2017-01-11 08:55] codinguser commented on #635
This is can (and probably should) be fixable. We now use our own commodities and if I recall correctly, @rivaldi8 you once did some cleanup to use only our Commodities instead of java Currency.

Maybe there is some place where Currency is still used. If we change it to commodity, this issue should be fixed. BYN was added to the commodities a while back I think, although I don't recall if only to n

[2017-01-11 08:59] codinguser commented on #635
About Joda-Money, well, it is still evolving. If they get to a 1.0 at some point we can evaluate it.

Although I'm beginning to have increasing inertia to new libraries as we have quite a few already. Build time keeps going up and the apk  is starting to hit the 65k method limit in the develop branch.

[2017-01-11 09:16] #617 closed

[2017-01-11 10:22] mnetzwur commented on #630
I use EUR and USD in my books. Here's what's interesting: If I delete the application data in android settings before the import and I set the default currency to EUR, the import works exactly once. But every subsequent import of the same book fails. If I don't clear the data (or am not on a fresh installation), the import always fails. If I leave the default currency of the app set to USD, the im

[2017-01-11 11:05] gabrielsimoes commented on #503
Sure.

- I'm planning on allowing the user to input an associated URL (what Gnucash calls "location") or a file from the storage or the camera, which would be copied/saved to a specific folder.
- A Uri field would keep the relative path to the file inside each transaction. Image capture and deletion would be done inside the transactions form, or something like that.
- Synchronization would keep th

[2017-01-12 01:48] gabrielsimoes commented on #503
It is rather incomplete, but you can check what I'm trying to do here: https://github.com/gabrielsimoes/gnucash-android/tree/develop

[2017-01-12 13:20] vovcacik commented on #329
@codinguser hi, is the feature of default transfer accounts also available in the desktop gnucash?

[2017-01-12 21:32] codinguser commented on #329
@vovcacik I do not know for certain as I am not very involved in dev of the desktop version.
But my guess is no. It is necessary here because it speeds up transaction entry. On the desktop, you can just type the account name and it autocompletes it for you. The Android version lacks that!

[2017-01-14 11:58] rivaldi8 commented on #635
Ok, I was convinced that `Commodity` worked on top of `Currency` internally. Now I see that's not the case. After quick look at uses of `Currency`, it seems they could be handled by `Commodity`. I'll work then on finishing the migration.

[2017-01-14 12:06] rivaldi8 commented on #621
Yes, I agree some languages may be tricky, but we can alway adjust it depending on the feedback of the users. The problem, as you say, will be not messing up CrowdIn translations.

[2017-01-14 19:21] rivaldi8 commented on #625
@codinguser I'm not sure. At least now, it seems to me that it would add complexity for little benefit. I'd like to know some use cases for it first. We are also still having issues with scheduled exports and missing other features like specifying multiple weekdays. So again, I'd rather define first what features we want to support to help decide how to deal with the whole thing.

@schvabodka-man

[2017-01-15 19:20] rivaldi8 commented on #571
Fixed in hotfix/patches (f9b3a30).

[2017-01-15 19:20] #571 closed

[2017-01-16 11:41] schvabodka-man commented on #625
Because i like to have hourly backups obliviously

[2017-01-16 16:35] codinguser commented on #625
@rivaldi8 I agree with you, priority should be on fixing the existing bugs. But we have `HOURLY` in the UI as well. My preference would be to remove it from there and not have to deal with it.

But at the moment, someone could set a schedule for hourly backup and then proceed to delete a book thinking they have a backup, only to find themselves very mistaken. That would be on us.

[2017-01-16 17:06] rivaldi8 commented on #625
@codinguser Is it even possible to remove the hourly recurrence option from this dialog? There's no documentation and, after a quick look at the code, I can't see how to do so.

[2017-01-16 17:11] codinguser commented on #625
I'm not sure that it's possible. I remember looking for it in the docs
once, and also exploring the code a bit.

Unless something has changed in newer versions, no, it's not possible.

On Mon, 16 Jan 2017 at 18:06, Àlex Magaz Graça <notifications@github.com>
wrote:

[2017-01-16 17:15] rivaldi8 opened #640 "Sometimes modifications are not reflected in the account list"
#### Steps to reproduce the behaviour
1. Change the name of an account.
2. Press _SAVE_

#### Expected behaviour
The account is listed with the new name.

#### Actual behaviour
Sometimes the account appears with the old name.

I just reproduced it once, but the user (reported through User Voice 152) claims it happens every time for him.

#### Software specifications
* GnuCash Android version: 2.1.

[2017-01-16 17:31] rivaldi8 opened #641 "Weekday is ignored in scheduled exports"
#### Steps to reproduce the behaviour
1. Go to _Menu > Export..._
2. Set a weekly recurrence with a weekday different of the one for the current date. For example, if today is Monday set it to Thursday.
3. Save changes.

#### Expected behaviour
The export is done weekly on the day set in the recurrence (Thursday in the example).

#### Actual behaviour
The export is done weekly, but on the weekday

[2017-01-16 17:37] rivaldi8 commented on #625
Then, if it's something we can't workaround easily, I'd try to fix #641, which might make it easier to implement hourly schedules. Otherwise, we'll have to look harder into finding out how to remove the option.

[2017-01-17 01:01] paulle opened #642 "android version 7.0 leads to crash ?"
#### Steps to reproduce the behaviour
1. Lot of crashes, often when I tried to save a modification.

#### Expected behaviour no crashes

#### Actual behaviour crashing, not saving modifications.

#### Software specifications
* GnuCash Android version:2.1.3
* System Android version:7.0
* Device type: sony xperia xz

[2017-01-21 16:03] rivaldi8 commented on #618
Fixed in hotfix/patches (f153a6f).

[2017-01-21 16:03] #618 closed

[2017-01-21 16:17] rivaldi8 opened #643 "Inform the user when a scheduled action fails"
Now, the user isn't informed when a scheduled action fails. For example, if an scheduled export fails because of some problem uploading the files to Google Drive, the user won't notice until he or she checks for the exported files. This may happen too late, when the user is looking for a backup to recover from a data loss.

The scheduled actions service should register any error so the user is inf

[2017-01-21 16:33] rivaldi8 commented on #643
The idea I have in mind is to add two new fields to `scheduled_actions` table: `error_count` and `error_message`.

`error_count` stores how many times a scheduled action has failed. It's reset to 0 when the action succeeds or when the user is informed.

`error_message` stores information about the last time the action failed.

The next time the user runs the application, it checks if any scheduled

[2017-01-21 19:10] codinguser commented on #643
@rivaldi8 you mean adding that to the db table? I have reservations about this.
The way Android is designed, we are not responsible for what happens outside of the app. Once we hand over a file, we should not care how it is handled.

We only have issues now because my Google Drive integration is a bit buggy. I am working to switch this to the storage access framework in v2.2 which should make the

[2017-01-21 19:14] codinguser opened #644 "Choosing not to create default accounts closes the app"
#### Steps to reproduce the behaviour
1. When the wizard runs, select "Let me handle it" for creating accounts
2. Finish the wizard

#### Expected behaviour
3. The wizard closes and the app is launched. List of accounts is shown.

#### Actual behaviour
3. The wizard closes and the app is closed. List of accounts is not shown.

#### Software specifications
* GnuCash Android version: 2.1.3
* System

[2017-01-21 19:33] rivaldi8 commented on #643
Oh! I didn't remember you were working on switching to SAF. That would make this issue invalid then. I'll close it.

About the undo feature, I think we should have both the SnackBar and the option in Settings. The SnackBar showing up after some destructive actions, like "delete after export". The option in Settings for any time the user needs it. However, now that I think, there's an option alread

[2017-01-21 19:33] #643 closed

[2017-01-21 19:34] nachoparker commented on #643
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  pkbrister@zoho.com
    Domain ownyourbits.com has exceeded the max emails per hour (3/3 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includ

[2017-01-23 07:27] codinguser commented on #643
@rivaldi8 I agree that we should have both.
The current option in Settings makes the user select the file by date. This is easy but not the most convenient thing to do. We can leave that in place.

But the undo option (via SnackBar) would definitely be a great addition. It which will allow the user option to immediately restore the deleted transactions without going through any further dialogs.

A

[2017-01-23 07:50] codinguser commented on #640
Strange one this is...

[2017-01-23 08:44] codinguser commented on #567
This needs a lot more time to make work reliably.
Might break some stuff, so push to major release

[2017-01-23 08:48] codinguser commented on #375
Merge into #567
Issue will be tracked there

[2017-01-23 08:48] #375 closed

[2017-01-23 08:49] nachoparker commented on #375
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  pkbrister@zoho.com
    Domain ownyourbits.com has exceeded the max emails per hour (3/3 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includ

[2017-01-23 09:00] codinguser opened #646 "Use Android SAF for selecting the backup folder"
For API level 19 and above, the storage access framework can be used to select folders for backup.
This will greatly increase the number of third-party sync services which could potentially be used with GnuCash Android and also increase reliability of backup/export

[2017-01-23 20:34] #611 closed

[2017-01-23 20:34] #633 closed

[2017-01-24 16:16] rivaldi8 commented on #643
:+1: I like the idea.

[2017-01-24 17:04] rivaldi8 commented on #567
Are you sure about this? Won't it complicate the database access code? Schema changes between desktop versions, schema differences between desktop and Android, SQLite features not available in our supported devices...

[2017-01-25 09:57] codinguser opened #649 "Commas in Account name causes error in reporting"
#### Steps to reproduce the behaviour
 Inserting a comma character ',' inside an account name messes up the chart display.
Simplified example: Say you have one account with 3 subaccounts:
Expenses
    |----Ac1
    |----Ac2
    |----Ac3
with transactions in each account.
Then renaming "Ac1" to "Ac1, foo" changes the bar charts contributions. Also, the name for "Ac1, foo" appears just as "Ac1" so my

[2017-01-25 21:43] codinguser commented on #567
I think its worth a shot. It will greatly improve our sync story as we seek to get closer to GnuCash desktop / offer a fuller GnuCash experience on Android.

The points you raise are very valid issues we'll have to deal with:
- I think the db code would not get that much more complicated. We will need some new joins and new SQL views to pull data from multiple tables and present a unified object m

[2017-01-25 21:44] nachoparker commented on #567
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  pkbrister@zoho.com
    Domain ownyourbits.com has exceeded the max emails per hour (3/3 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includ

[2017-01-26 01:18] somini commented on #567
I think this is perfect, and eliminates one of the pain points of having two separate apps, which is syncing transactions between them.
My current workflow is exporting to qif since the last export, import on Linux, add more changes and import it back on Android.

[2017-01-26 19:11] rivaldi8 commented on #567
@codinguser Ok, I had some database changes in mind, so I wanted to be sure you wanted to go ahead with this. I don't have much experience with databases, so I'll trust you :) I'll have a deeper look at the desktop schema then.

[2017-01-26 21:11] codinguser commented on #567
@rivaldi8 Right now I would just like to finish with v2.2.0 and then I think we can put everything else on hold on only work on this db change. I would like us to implement and thoroughly test the migration so that as much as possible, users don't even notice such a big change under the hood.

For most of the new db tables I added after the basic transactions and accounts, I tried to follow the sc

[2017-01-28 17:12] poVoq opened #651 "Nextcloud 11 login test not working"
#### Steps to reproduce the behaviour
1. Go to setting and back up on owncloud
2. Input nextcloud11 server adress(http) and credentials
3. When pressing test it says oc server ok, but login details incorrect

#### Expected behaviour
Nextcloud 11 should still be fully compatible with owncloud, or did they change the login Api?

#### Actual behaviour

#### Software specifications
* GnuCash Android v

[2017-01-28 20:08] W-Hamra opened #652 "Multi Split transaction between multiple currencies does not ask for exchange rates"
#### Steps to reproduce the behaviour
1. Have 3 accounts, two of the same currency, one of a different currency.
2. Use any of them to create a transaction.
3. Enter value, and click the split button,
4. Click the "+" button to add a third split.
5. Fill all splits with relevant numbers, and save.
6. It saves without asking for any exchange rates. (All horribly wrong numbers, mind you)

#### Expec

[2017-01-31 08:08] jony0008 opened #653 "Translation of DropBox to Dropbox"
Please change DropBox to Dropbox in translations.

[2017-02-01 11:08] chrisberkhout commented on #567
@codinguser This would be fantastic!

Also, regardless of the DB schema, it would be very helpful if it could (optionally) use an SQLite file that's outside of the application context. That would let me script up some synchronization/reporting things right away.

Thanks for all your work!

[2017-02-01 15:12] codinguser commented on #567
@chrisberkhout you could script them for the app and then everyone would benefit ;)

[2017-02-03 20:38] neomodern commented on #545
Much needed, recents showing accounts only rather than transactions is unintuitive and more time-consuming

[2017-02-12 16:31] paulle commented on #642
This seems to be fixed in v2.1.4

[2017-02-13 16:55] codinguser commented on #642
Awesome, then I'll close this issue.
Feel free to reopen if you notice it again.

[2017-02-13 16:55] #642 closed

[2017-02-16 01:14] pingu8007 opened #654 "App crashes when trying modify account if default transaction account no longer exist."
#### Steps to reproduce the behaviour
1. Use double entry mode.
2. Create account A and B.
3. Set B's default transaction account to A.
4. Remove account A.
5. Modify account B, crash occurred.

#### Expected behaviour
Open account modifying interface.

#### Actual behaviour
App crashed.

#### Software specifications
* GnuCash Android version: 2.1.4
* System Android version: Nougat 7.1.1
* Device

[2017-02-25 13:33] sanzoghenzo opened #655 "QIF export uses commas instead of dots as decimal separators (italian EUR accounts)"
#### Steps to reproduce the behaviour
* Create EUR accounts and transactions with an italian android version (keypad for amount only shows commas as decimal separator)
* Export as QIF
* Try to import to GnuCash desktop

#### Expected behaviour
Import process should proceed without problems

#### Actual behaviour
* Import process complains about QIF file format
* using a text editor to replace all

[2017-02-26 19:17] rivaldi8 commented on #653
@codinguser Shall we just run `sed` through all strings.xml files or may it mess things up with Crowdin?

[2017-02-26 19:22] rivaldi8 commented on #654
Confirmed. Stack trace:
[code]

[2017-02-26 19:42] rivaldi8 commented on #655
It seems GnuCash uses the decimal separator corresponding to the user's locale, both when exporting and importing. In my case (Spanish and Euro), QIFs are exported using a comma as decimal separator and GnuCash desktop imports them just fine.

Is your GnuCash desktop running with the Italian locale? What decimal separator is it using? If I'm not wrong, it uses the locale defined in the standard en

[2017-02-27 07:07] sanzoghenzo commented on #655
Thanks for your reply!
I forgot to mention my desktop is running OS X El Capitan.
Locale is set to it_IT.UTF8 (and GnuCash desktop correctly displays amounts with comma as decimal separator.
[code]
Seems like I have to check something on my mac (brand new installation, GnuCash installed via homebrew cask).

[2017-02-27 17:21] rivaldi8 commented on #655
All looks correct. Also, I've been doing some tests and it doesn't seem to make any difference using a dot or a comma as separator. I've tested from version 2.6.13. Which one are you using?

With what error does it complain when you try to import the QIF? Could you also confirm that the only change you make for it to succeed is replacing commas with dots?

[2017-02-28 18:31] diogocp opened #656 "Bitcoin currency support"
Please add support for the Bitcoin currency. It does not have an official ISO 4217 currency code yet, but XBT is commonly used.

[2017-03-01 09:58] chrisberkhout commented on #656
For inspiration: there's [a patch](https://aur.archlinux.org/cgit/aur.git/tree/xbt.patch?h=gnucash-xbt) I use to do it for GnuCash desktop.
It doesn't add the maximum precision allowed by Bitcoin, but works well enough in practice.

[2017-03-02 17:03] rivaldi8 commented on #656
@chrisberkhout Thanks for the patch! However, simply adding the currency won't be enough. There's still the problem reported in #635, to be solved by finishing the migration from `Currency` to `Commodity`.

[2017-03-04 11:38] sanzoghenzo commented on #655
Today I tried to import the last week transactions and everything went fine.
Replacing commas with dost was not the only thing I did, because at first GNUCash desktop complained about an unrecognized transaction amount, and I needed to change the double minus in two split transactions to a single minus. After that, the import process gave a generic import problem error (cannot remember whet it is)

[2017-03-05 17:40] rivaldi8 commented on #343
Which QIF field should be used?

[2017-03-07 19:06] rivaldi8 commented on #655
Ok, I see. The problem is there's a mix of decimal separators. GnuCash supports all dots or all commas, but not mixed.

I'd say the double minus is caused by the amount having been stored with the sign. If I'm not wrong we should always be storing absolute numbers.

I'll try to find out what has happened. If you don't mind sending the .gnucash file you imported into GnuCash Android to rivaldi8@gma

[2017-03-07 19:25] rivaldi8 commented on #621
I've found this option in Crowdin settings (Export section) that may help:

[2017-03-08 07:51] codinguser commented on #621
I'll check that out when pulling translations for next update. Then we can just have all regional dialects covered in one go.
Thanks!

[2017-03-08 08:05] codinguser commented on #653
@rivaldi8 It could mess things up in CrowdIn. I propose we do the change bit by bit over time.

@jony0008 do you work for Dropbox? :D  or just particular about spelling ;)

[2017-03-13 20:00] sanzoghenzo commented on #655
Today I had the same problem, and indeed there is a decimal separator mixup and the double minus sign that cause troubles.
Unfortunately I don't have the original .gnucash file I imported, but I found out that the recurring transaction I set up in gnucash desktop were wrong (at the time of the import in GC android) because they went in the wrong direction.
Now I corrected the behavior in GC deskto

[2017-03-14 19:36] rivaldi8 commented on #655
Thanks for the information! The problem is probably [here](https://github.com/codinguser/gnucash-android/blob/f9b3a301af6b1a10e146a6a412efdb9f295db152/app/src/main/java/org/gnucash/android/export/qif/QifExporter.java#L214-L214). It's using `String.format` while for other amounts it uses `BigDecimal.toPlainString()`. Not sure how to reproduce the double minus problem yet.

[2017-03-14 20:03] rivaldi8 commented on #655
I was wrong. [String.format](https://docs.oracle.com/javase/7/docs/api/java/lang/String.html#format(java.lang.String,%20java.lang.Object...)) uses the default locale, so it should be using a comma.

Were all the problematic transactions generated from a scheduled transaction?

[2017-03-16 08:38] jony0008 commented on #653
@codinguser Haha No I have just done too many translations :)

[2017-03-18 21:37] codinguser opened #657 "Add options to reset the app PIN"
This could be accomplished through adding a link to reset the PIN to the login page.
A new PIN would be generated and sent to a recovery email address (pre-entered by the user when creating the PIN).

[2017-03-18 21:49] codinguser opened #658 "Add option for switching off vibrations on Calculator keyboard"
#### Steps to reproduce the behaviour
1. Switch off keyboard haptic feedback in settings
2. Press key on calculator keyboard during transaction entry

#### Expected behaviour
3. No haptic feedback

#### Actual behaviour
3. There is always haptic feedback

#### Software specifications
* GnuCash Android version: all
* System Android version: all
* Device type: all

[2017-03-21 20:45] Koryo191 opened #659 "Feature Request : Custom Quick Purchase Menu"
Idea for a new useful convenience feature in the GNUCash Android App : Shortcut menu for purchasing options users can set-up themselves.

Enter the new transaction window, have a button for "Quick Transaction" - loads page with a list of companies/establishments you routinely go to, sub-menu of common item you usually purchase (for instance drinks at your local establishments or set meals).

Havin

[2017-03-22 08:44] codinguser commented on #659
Thanks for the suggestion @Koryo191
What you suggest sounds very much like transaction templates.
While we do not yet have explicit templates, the app can suggest transactions based on past transaction history. However, this has the limitation that it does not work if you delete transactions after export (which many do).
So this will be taken into consideration again in due time. At the moment, th

[2017-03-23 20:20] rivaldi8 commented on #654
@codinguser I've been looking at this issue and it seems it's solved by just uncommenting [this constraint](https://github.com/codinguser/gnucash-android/blob/a3927c8440c1d6471d3985567f101b5108939517/app/src/main/java/org/gnucash/android/db/DatabaseHelper.java#L80-L80) in the `accounts` table. Why did you leave it commented and implemented it in code (f10b4e433aa353cf0ef913f563be4025b5baa0ec) inst

[2017-03-23 20:25] rivaldi8 commented on #659
I think this wouldn't be necessary if location-based suggestions (#172) were implemented. What do you think?

[2017-03-24 12:52] codinguser commented on #659
I think explicit templates still have their place. Location-based suggestions would build on top of that because they would rely on saved templates with a location for geo-fencing.

[2017-03-24 13:05] codinguser commented on #654
@rivaldi8 I'm not exactly sure why I removed that constraint.
But I recall that at some point, we removed constraints because they were taking a long time to process (via triggers) in the database. Therefore, we removed some and just made sure to perform the necessary operations directly via SQL.
In this particular case, it might be okay to re-add it and modify the constraint to use "ON DELETE SET

[2017-03-24 15:32] Koryo191 commented on #659
Personally I would suggest that these are separate - This suggestion is a manually set-up hierarchy that users can customize themselves for ease of entry. The other suggests using location based information linked to recent transactions for suggested transactions you could be about to make. The second has a downside of if recent transactions are removed then there is no reference to make the sugge

[2017-03-24 16:36] codinguser commented on #659
The second can also use templates. Since we cannot rely on transaction
history always being present.

We could save a recurring transaction and say whenever I am at this place,
record this transaction. Just like we can do for time-based recurrence.

But I agree that they are different (albeit) related issues.

On Fri, 24 Mar 2017 at 16:32, Koryo191 <notifications@github.com> wrote:

[2017-03-24 17:08] rivaldi8 commented on #654
Yes, I was confused at first too. The culprit is [DatabaseAdapter.deleteRecord(long rowId)](https://github.com/codinguser/gnucash-android/blob/77d9323bd5cb4a1fb40fb9a894943a9e9d7a73c4/app/src/main/java/org/gnucash/android/db/adapter/DatabaseAdapter.java#L516-L516) (not overriden by `AccountsDbAdapter`). The [unit test](https://github.com/codinguser/gnucash-android/blob/e5daf4bf0b3fc7ab2897a06b87fe

[2017-03-25 21:57] codinguser commented on #654
I see... sneaky. :)
So I see 3 ways to go about this:
* Override the method deleteRecord(long) in AccountsDbAdapter
* Change the call from the deleteRecord(long) to deleteRecord(String).
* Both of the above (**preferred**)

Adding the foreign key constraint now will mean having to do a database migration, and since we cannot just alter tables in Sqlite, we have to drop the whole table, re-create i

[2017-03-26 15:18] rivaldi8 commented on #654
Ok, I'll avoid adding the constraint for now.

[2017-03-27 01:08] pingu8007 commented on #654
It seems we can prevent new invalid record created. But without DB restructuring, is it enough to solve invalid record that already exist?

[2017-03-27 13:40] codinguser commented on #654
@pingu8007 yes it would be possible for @rivaldi8 to add a migration which does not change the db schema, but just sets the values to NULL where the account with the ID no longer exists.
Given the other changes in the code mentioned above, no further invalid records would be created

[2017-03-27 13:58] codinguser opened #660 "Account Total does not match desktop"
From Google+ user group:
I met a strange bug on the mismatch of the transaction history and the total.
So I'm wondering if there is a bug with time zone? My computer uses GMT +8, so is my Android device.

#### Steps to reproduce the behaviour
1. I imported the .gnucash file without error.I found that the transaction history is the same with desktop version, but the total did not.

#### Expected be

[2017-03-27 15:16] rivaldi8 commented on #654
Yes, I'm working on it.

[2017-03-27 17:13] codinguser opened #661 "Eliminate need for SD_CARD permission"
#### Steps to reproduce the behaviour
1. Install app for the first time and run it

#### Actual behaviour
2. First run wizard asks for SD card write permission

#### Expected behaviour
2. No permissions are asked for

#### Software specifications
* GnuCash Android version:
* System Android version:
* Device type:

[2017-03-28 03:51] Explorare commented on #660
GnuCash desktop version: 2.6.15
GnuCash Android version: 2.1.4
Device: BlackBerry PRIV with Android 6.0.1
---
All the numbers matched again after the time passed 18:59:00.

[2017-03-28 15:19] rivaldi8 commented on #654
Fixed in develop.

[2017-03-28 15:19] #654 closed

[2017-03-29 07:30] sanzoghenzo commented on #655
Sorry for the delay... Yes, I can confirm that the problematic transacions were generated from imported scheduled transactions.

[2017-03-30 09:25] codinguser opened #663 "App crashes after creating account with BYN currency"
#### Steps to reproduce the behaviour
1. Create an account with BYN currency.
2. Hit Save.

#### Expected behaviour
3. Account created and account list shown

#### Actual behaviour
3. App crashes
4. Any further attempts to start the app cause crashes

#### Software specifications
* GnuCash Android version: 2.1.4
* System Android version: 6.0.1
* Device type: All

[2017-03-30 11:38] #663 closed

[2017-03-30 11:38] #644 closed

[2017-03-30 11:38] #621 closed

[2017-03-30 22:43] codinguser commented on #653
Fixed in d566a3e69840e6ab6270233d669ad8e6da6c52ea

[2017-03-30 22:43] #653 closed

[2017-04-04 16:00] #518 closed

[2017-04-04 18:50] rivaldi8 commented on #634
Fixed in develop (ad34f1b).

[2017-04-04 18:50] #634 closed

[2017-04-06 07:12] codinguser opened #664 "Device rotation causes crash"
#### Steps to reproduce the behaviour
1. Open any accounts/transactions view
2. Rotate the device

#### Expected behaviour
3. The list of accounts should be rotated

#### Actual behaviour
3. The app crashes

#### Software specifications
* GnuCash Android version: 6.0.1
* System Android version: 2.1.5
* Device type: Nexus 5

[2017-04-06 20:48] sehucke commented on #651
Same with version 2.1.5 on a Moto G 4G (peregrine). Neither user/password nor user/app-pin currently works.

[2017-04-07 16:39] hajimezhao opened #665 "Request for CSV export"
Hi GNUCash developers,
I really like the powerful model of GNU Cash.
I wish the app can export to CSV so I can use Excel to make further visualization reports as I want. Thank you very much!

Cheers,
Khon

[2017-04-09 15:31] Explorare opened #666 "Please add Dropbox for "Open" and OneDrive for "export""
This app can export directly to Dropbox but can't open from it. But for OneDrive is opposite.

[2017-04-09 15:37] Explorare opened #667 "Delete the file after successful import."
It would be great if this app can delete the imported file after a successful import.

[2017-04-10 12:52] Explorare opened #668 "What's the proper to import selected transactions from desktop to Android app?"
I 'm trying to sync recent transactions from desktop to Android app. I tried to use [save as] function in desktop version to export transactions to Android app but found that all transactions were imported into a new book but not the one existed. I've also tried to [export] recent transactions into a CSV file but failed to import into the app. There is an error which said `syntax error`.

[2017-04-10 15:12] codinguser commented on #666
Go to Settings -> Accounts --> Import.
You'll see Dropbox there

[2017-04-10 15:13] #666 closed

[2017-04-10 15:17] codinguser commented on #667
The app only reads the information from the imported file, it cannot delete the imported file from its location. We do not plan to include this functionality in the app.
The user is responsible for managing the files at the file source.

[2017-04-10 15:17] #667 closed

[2017-04-10 15:20] codinguser commented on #668
GnuCash Android does not support importing from CSV. Only GnuCash XML files can be imported
See here: http://www.codinguser.com/2014/03/gnucash-android-account-import-guide/

[2017-04-10 15:20] #668 closed

[2017-04-11 22:21] rivaldi8 commented on #661
I assume you meant the expected/actual behaviours to be the other way round. So it's just make it stop asking for the permissions from the wizard and when the `AccountsActivity` is started, isn't it?

[2017-04-11 22:25] rivaldi8 commented on #661
Well, it also asks when the export form is opened. I guess we should be asking only when the user presses _Export_ and has selected an export target that needs to write to the SD card.

[2017-04-11 22:39] rivaldi8 commented on #661
I've just remembered you were working in the export package. I don't think you are changing `ExportFormFragment` much or anything at all, but I'll wait for your confirmation just in case.

[2017-04-12 15:15] codinguser commented on #661
@rivaldi8  yes, you are right about the expected/actual behaviour. I've updated the issue to reflect this.
The reason SD_CARD permission was asked for, was so that default auto backups could be made directly to the external SD card. In case of crash or anything happening, the user could still then easily access the files.

But I am now of the opinion that we move the default backups to the [app pr

[2017-04-12 15:18] codinguser commented on #646
During my implementation, I've run into two issues:

1. The Intent in SAF which allows the user to select a directory (instead of a single file) is not supported by *any* major cloud drive providers (not even Google Drive). There might be some, but no major players
2. The Intent ACTION_OPEN_DOCUMENT_TREE was not introduced in API 19 with the rest of the SAF, but rather, it came in API level 21. So

[2017-04-12 15:18] #646 closed

[2017-04-12 15:22] codinguser commented on #625
@rivaldi8 so you can go ahead with #641 given the latest roadblock on the Storage Access Framework

[2017-04-12 15:25] codinguser commented on #635
@shrddr @rivaldi8 is this issue fixed in v2.1.5?

[2017-04-12 15:32] codinguser commented on #632
@kelteren v2.1.5 switched to FileProviders for sharing exported files.
Does that fix the issue for you?

[2017-04-12 15:35] codinguser commented on #638
This issue occurred when the option to "let me handle it" for account creation was selected in the wizard.
Now fixed since v2.1.5

[2017-04-12 15:35] #638 closed

[2017-04-12 15:42] seriyps commented on #635
@codinguser I have v2.1.5 and it seems that BYN are supported now (at least for importing data from gnucash for desktop)

[2017-04-12 15:43] #635 closed

[2017-04-12 15:59] rivaldi8 commented on #635
@codinguser The issues reported here seem to be fixed now. There are still a few uses of Currency which may make the application crash, though. I hope to finish the migration to Commodity shortly.

[2017-04-12 16:02] codinguser commented on #635
Ok!

On Wed 12. Apr 2017 at 17:59, Àlex Magaz Graça <notifications@github.com>
wrote:

[2017-04-12 16:05] rivaldi8 commented on #661
Ok, I'll work on the migration of backup files then.

[2017-04-12 20:42] codinguser commented on #661
I could do the migration of the files for v2.1.6 if you'd like.
I want to make a small release which fixes one rotation crash bug and updates translations, so I could bundle it in. Shall I?

[2017-04-12 20:55] codinguser opened #669 "Update translations"
Update language translations from CrowdIn

[2017-04-12 21:00] codinguser opened #670 "Migrate backup/export files to new internal location"
Move backup files to app-private storage while we still hold WRITE_EXTERNAL_STORAGE permission.

From v2.2.0, WRITE/READ external storage permissions will be removed.

[2017-04-12 21:53] rivaldi8 commented on #661
@codinguser Sure, go ahead! :)

[2017-04-13 00:04] rivaldi8 commented on #635
I've just finished the migration to Commodity.

[2017-04-14 18:40] rivaldi8 commented on #656
Fixed in develop.

[2017-04-14 18:40] #656 closed

[2017-04-15 15:32] #664 closed

[2017-04-15 15:32] #669 closed

[2017-04-15 15:32] #670 closed

[2017-04-15 16:43] codinguser opened #672 "Crash when exporting directly to Google Drive with multi-currency"
#### Steps to reproduce the behaviour
[USER REPORT] I am seeing consistent crashing during export to Google Drive. I tried my first export in about 6 months. It was the first time since different currencies exported to different files (in case this is related). I was trying to export to Google Drive (using "Share..." and selecting Google Drive). Oddly, it isn't GnuCash crashing, it is the Google D

[2017-04-15 18:18] rivaldi8 commented on #672
In my case it doesn't crash, maybe because I've tested in a newer version (2.1.6). However, it fails to send the files to Google Drive:
[code]

[2017-04-15 19:04] rivaldi8 commented on #672
I'd say we're doing it wrong. We should be creating a new `DriveContents` for each exported file with `Drive.DriveApi.newDriveContents`. Otherwise, we are writing always to the same file.

[2017-04-15 19:11] rivaldi8 commented on #672
That's it! Now it's creating the two files correctly.

[2017-04-15 19:46] rivaldi8 commented on #672
Forget all I've said. I misunderstood the problem and was fixing a different one. After reading more carefully I've been able to reproduce the crash. I'm attaching a screenshot with the stack trace as I'm not able to copy the text.
![bug672-stacktrace](https://cloud.githubusercontent.com/assets/1187977/25066411/cccfccf8-2224-11e7-875c-24af9255b179.png)

[2017-04-15 20:20] codinguser commented on #672
ok, so a FileProvider permissions issue..

[2017-04-15 22:33] rivaldi8 commented on #672
You seem to know what's going on. Do you want me to reassign it to you or shall I investigate?

[2017-04-15 23:39] rivaldi8 commented on #672
Maybe passing the URIs as clip data as it says [here](https://developer.android.com/reference/android/content/Intent.html#ACTION_SEND_MULTIPLE) fixes the problem.

[2017-04-16 05:24] Supermans1201 opened #673 "11111111"
#### Steps to reproduce the behaviour
1.

#### Expected behaviour

#### Actual behaviour

#### Software specifications
* GnuCash Android version:
* System Android version:
* Device type:

[2017-04-16 05:25] #673 closed

[2017-04-16 05:25] Supermans1201 commented on #673
1111

[2017-04-16 17:10] rivaldi8 commented on #672
It turns out the problem wasn't how we were adding the files to the intent. `startActivity` takes care of copying the data to the ClipData, if it's not set. The problem was the way we were setting `EXTRA_TEXT` somehow confused Google Drive.

Fixed in develop (d2611b0).

[2017-04-16 17:10] #672 closed

[2017-04-16 17:17] rivaldi8 commented on #485
For those still not getting the files exported to Google Drive, are you using multiple currencies?

[2017-04-17 12:43] codinguser commented on #672
oh awesome! Thanks for the fix @rivaldi8

[2017-04-17 17:33] drjswalker opened #675 "why are liabilities in green"
#### Steps to reproduce the behaviour
1. Start gnucash
2. Pick expenses:dining as account to operate on.
3. Put in some amount. I used 12.50
4. Select liabilities:credit card as account to withdraw funds from to pay into expenses:dining
5. Finish transaction
6. View accounts. The credit card acount has a green balance of 12.50 and so does the expenses dining. Balance gives $25.

7. Repeat the abov

[2017-04-17 18:20] codinguser commented on #675
The reason is because Credit card accounts at not considered DEBIT accounts by default (even on Gnucash desktop).

Look at it this way, the positive value indicates your growing liability by using the credit card.
When you pay off your credit card, that liability reduces to zero.

The app shows all positive values as green. On GnuCash desktop, they are just black (but still positive)

[2017-04-17 20:18] drjswalker commented on #675
Mmm. I'm a newbie to personal accounting systems, but I think that's a little off for two reasons. To follow the cash flow you need to know up front which account is a debit account and which is a credit account (or have some indicator). For this example, it's pretty obvious. Wouldn't it be simpler to use keep the accounts the same (stateless, neither debit or credit accounts) and use some symbol

[2017-04-17 20:19] #661 closed

[2017-04-17 20:20] #625 closed

[2017-04-18 06:41] codinguser commented on #236
Just info: In GnuCash desktop, this setting is under Edit -> Preferences -> Accounts -> Reverse Balanced Accounts

[2017-04-18 06:48] codinguser commented on #675
I understand what you mean. But as described in the [GnuCash accounting guide](https://www.gnucash.org/docs/v2.6/C/gnucash-guide/basics-accounting1.html): "Common use of the words debit and credit does not match how accountants use these words. In common use, credit generally has positive associations; in accounting, credit means affecting the right column of the ledger sheet of an account. This i

[2017-04-18 09:13] codinguser opened #677 "Add support for Fingerprint sensor for unlocking GnuCash"
#### Steps to reproduce the behaviour
1. Open the app (with passcode enabled)

#### Expected behaviour
2. Display homescreen unlock (for pattern input or fingerprint)

#### Actual behaviour
3. GnuCash unlock screen is displayed (no fingerprint support)

#### Software specifications
* GnuCash Android version: all
* System Android version: all
* Device type: all

[2017-04-18 09:20] codinguser commented on #657
The need for this would be mitigated by #677

[2017-04-18 09:21] #657 closed

[2017-04-18 09:21] codinguser commented on #675
I'll close this issue now. Any developments on this will be tracked in #236

[2017-04-18 09:21] #675 closed

[2017-04-18 09:22] codinguser commented on #588
Notes to self: Does the default transaction type setting still make sense? Maybe automatically use a default depending on the type of account. E.g. Expense accounts default to expenses, Income accounts to incomes, etc.

[2017-04-18 17:52] hazzl commented on #588
I don't know whether the cash account that I monitor using the app would count as income or expense. But I really need my default transaction to be an expense (because 90% of my transactions are expenses on that account). Conversely, I could very well imagine another use case where the predominant transactions on a cash accout are incomes. So, for me, it makes sense to let the user choose a defaul

[2017-04-20 10:58] codinguser commented on #646
Instead of selecting a backup folder, a backup file would be selected instead and this would be used to store backups.
This means only the most recent backup will be kept.
In addition, export file destinations can now also be selected using SAF

[2017-04-20 11:45] #565 closed

[2017-04-20 11:46] codinguser commented on #485
This request is made irrelevant by #646  which is implemented in 8ad3e047e3fe5f74f610fb9ab96cb01cb808968f

[2017-04-20 11:46] #485 closed

[2017-04-20 12:41] codinguser commented on #452
One way to mitigate this would be to add a constraint to the database which does not allow more than one ROOT.
Deferring this to be done as part of big db changes

[2017-04-20 13:47] codinguser commented on #641
@rivaldi8 Will this issue make it for 2.2.0 release?

[2017-04-20 18:40] rivaldi8 commented on #641
I think so. I'll work on it this weekend.

[2017-04-23 12:34] Explorare opened #679 "Date selector in "Export" function doesn't work."
#### Steps to reproduce the behaviour
1. "Export";
2. "Since" some date;
3. Export

#### Expected behaviour
Get transactions from that specific date till now.

#### Actual behaviour
Got all transactions from the first to last.

#### Software specifications
* GnuCash Android version: 2.1.7
* System Android version: 6.0.1
* Device type: BlackBerry PRIV

[2017-04-24 11:59] codinguser commented on #679
@Explorare Do you regularly import into the GnuCash Android app as well?

[2017-04-24 12:03] Explorare commented on #679
I can find all transaction records from the raw data of the exported file.

[2017-04-24 12:08] codinguser commented on #679
What I'm asking is if you import regularly.
Because if you do, then the last export date is reset. All transactions
after the import are considered new.

On Mon 24. Apr 2017 at 14:03, Explorare <notifications@github.com> wrote:

[2017-04-24 12:34] Explorare commented on #679
Do you mean all the data imported into this app on, for example, April 4th, will be considered happened that date. So when I tried to export the data from April 3rd till now, these records are included as well?

[2017-04-26 19:32] codinguser opened #681 "Add option to use formal accounting terms"
#### Steps to reproduce the behaviour
1. Open Settings and go to Transactions
2. Check box "Use formal accounting terms"
3. Open form to create new transation

#### Expected behaviour
4. Transaction type should show "DEBIT/CREDIT"

#### Actual behaviour
4. Transaction type uses colloquial terms

#### Software specifications
* GnuCash Android version: all
* System Android version: all
* Device type

[2017-05-02 09:23] #641 closed

[2017-05-04 14:45] georgjaehnig opened #682 "Default account on new transactions shall be last account used there"
#### Steps to reproduce the behaviour
1. Go to a (sub-)account.
2. Create a new transaction (click the big Plus sign for example).

#### Expected behaviour
The pre-selected other account (in the Picker below *Amount*), where the amount will be charged from, should be the last account used. (This functionality was already there in previous GNUCash versions, as I remember.)

For instance, if I add a

[2017-05-05 19:31] jony0008 opened #683 "Swedish translation finished"
Please merge Swedish translation to the next release

[2017-05-06 14:49] lucavallerini opened #685 "GnuCash crashes when auto backup triggers"
#### Steps to reproduce the behaviour
Nothing specific, just use your device and when the scheduled auto backup triggers a pop-up shows up that tells you that GnuCash has stopped.

#### Expected behaviour
When auto backup triggers GnuCash should not crash.

#### Actual behaviour
GnuCash crashes regularly every time auto backup triggers. See attachment: [logcat.txt](https://github.com/codinguser/gn

[2017-05-16 03:12] m8nky opened #686 "XML Export of transactions to GDrive generates broken XML since latest version"
#### Steps to reproduce the behaviour
1. Transactions->Export
2. Save As... (file in Google Drive), Format XML
3. Export

4. Open...
5. Choose file from Google Drive
=> 'An error occurred while importing the GnuCash accounts At line 1, column 2: not well-formed (invalid token)'

#### Expected behaviour
Export and Open works, as before the latest update.

#### Actual behaviour
+ The resulting expor

[2017-05-16 14:34] codinguser commented on #682
As far as I know, the functionality you describe has never existed.
You can set a default transfer account for a particular account and it will always be selected.
If you set the default for a parent account, it will be propagated to all the children accounts.

Does the default account setting not meet your needs?

[2017-05-16 14:36] codinguser commented on #683
Awesome, thanks.
Will do!

[2017-05-16 14:36] #683 closed

[2017-05-16 14:50] codinguser commented on #685
ok, that's not good :(
Will look into it, thanks for the log file.

[2017-05-16 19:44] diogocp commented on #550
A very related issue is that while the bar and line charts allow you to choose arbitrary periods, the only options for aggregating values are month, quarter and year. This makes the "current month" line chart unusable, since it only shows a single point for the whole month.

[2017-05-16 20:54] diogocp commented on #120
I followed the steps above on Android 6.0.1 and failed to reproduce the issue.

It looks like it was fixed in Android 5.0. See https://issuetracker.google.com/36918562#comment11.

[2017-05-16 21:23] Goli4thus opened #687 "Import GnuCash XML: EACCES (Permission denied)"
#### Steps to reproduce the behaviour
1. Export accounts in GnuCash (Ubuntu) (File -> Export -> _Export Accounts_) to _example.gnucash_
2. In App: Settings -> Accounts -> _Import GnuCash XML_
3. Select previously exported _example.gnucash_ file

#### Expected behaviour
Accounts are being imported

#### Actual behaviour
_open failed: EACCES (Permission denied)_ [Imgur](http://i.imgur.com/wlClrVj.jp

[2017-05-17 10:47] georgjaehnig commented on #682
Hi, thanks for your response. Yes, that default account setting meets my needs!

[2017-05-17 10:47] #682 closed

[2017-05-17 22:01] codinguser commented on #687
GnuCash Android since v2.2.0  does not have permission to read from any location on the SD card.
I would suggest going through the Navigation Drawer --> Open and then select the file
If your SD card isn't not showing, tap the menu on upper right of the file picker and enable "internal storage".
Let me know if that works for you!

[2017-05-18 19:08] Goli4thus commented on #687
Yes that works. Thanks!

BTW: What is the described "Import GnuCash XML" action actually for?

[2017-05-18 19:15] mhamiltonj opened #688 "App crashes on export after previously opening files which included mutual fund accounts"
#### Steps to reproduce the behaviour
1. Open an XML file saved from desktop app that includes mutual fund account types.
2. Add transactions in android app.
3. Export transactions as QIF.

#### Expected behaviour
A QIF file is created per currency.

#### Actual behaviour
App crashes, no files are exported.

#### Software specifications
* GnuCash Android version: 2.2.0
* System Android version: 6.

[2017-05-18 19:53] codinguser commented on #687
It allows you to pick a place to import from, and actually used to work as you expect it to.
We only recently removed the permissions for direct access to the SD card.
So maybe we need to revisit that option and adapt it to the new procedures.

[2017-05-19 09:38] mentos opened #689 "Bug: Long pressing the amount input brings up QWERTY keyboard"
#### Steps to reproduce the behaviour
1. Navigate to _Transactions_ screen
2. Tap the _Add_ button
3. Enter _Description_ (optional)
4. Focus the _Amount_ input
5. Long press to bring up the context menu

#### Expected behaviour
See the context menu

#### Actual behaviour
![screenshot_20170519-122225](https://cloud.githubusercontent.com/assets/43371/26242052/bd0f5a42-3c8f-11e7-869c-d882f1f185d5.pn

[2017-05-19 12:44] codinguser commented on #651
@poVoq can you use the new Save As.. functionality in v2.2.0 with your NextCloud successfully?

[2017-05-19 17:38] Goli4thus commented on #687
Alright, thanks for the explanation!

[2017-05-19 17:38] #687 closed

[2017-05-29 14:05] MisterY commented on #343
Isn't M used for notes/description? And it is already utilised.

[2017-05-29 14:11] MisterY opened #690 "Use the actual account name in QIF export"
When exporting transactions into QIF, the account name is set to "Imbalance-EUR".
The header looks like this
[code]

However, I'm looking for something like this:
[code]

Is there any specific reason for using this setting? If not, I'd be happy to implement this change and send a pull request to see how the process of contributions works.
I have some other ideas but will discuss separately.

####

[2017-05-29 15:05] rivaldi8 commented on #343
That's right. M is used for the description of transactions. We need another field for notes.

[2017-05-29 15:21] MisterY commented on #343
Ah, I see, you are using the terminology from GnuCash, which does not match QIF 100%.
Unfortunately, with QIF, description = notes.
What is missing here is the Payee.

Which brings up an interesting point. I'm also very interested in adjusting the QIF export (starting with #690) and it might be useful to reshuffle the current field values. The description could be exported as the Payee (P) field,

[2017-05-29 15:22] rivaldi8 commented on #690
Using the account name should be the default behaviour. Have you disabled double entry mode? In that case an imbalance account is created, but there should also be the "My account" account. With the default accounts and settings this should not happen.

I'd first check with the defaults to discard some customisation that may be provoking this. If you believe it's a bug, you may want to check `QifE

[2017-05-29 15:26] MisterY commented on #690
I've created the default accounts and then switched double entry off and on. Was not aware of this effects. Will try a new book with that in mind, thanks.

Also, thank you for pointing the contribution guidelines. I've gone to the Wiki and there is a page for contribution guidelines but is empty. Would you mind adding the link there and/or removing that page? It was a bit confusing for me as, for

[2017-05-30 08:19] MisterY opened #691 "Can't compile the project"
I'm trying to build the project from the current source tree, using the 'develop' branch. However, it is failing with the error

[code]

I'm behind a proxy so that could be an issue. Is there a way around?

[2017-05-30 08:24] MisterY commented on #691
Aha, I found it now:

[code]

[2017-05-30 08:30] MisterY commented on #691
Resolved by adding the proxy settings to the gradle.properties file.

[2017-05-30 08:30] #691 closed

[2017-05-30 10:36] MisterY commented on #690
Yes, that is correct. When double-accounting is active, the full (path) name of an account is used.
Hm, now I have a different problem (of massaging the output .qif file) but at least this issue is resolved. Thanks for the tip!

[2017-05-30 10:36] #690 closed

[2017-05-30 10:46] MisterY commented on #567
Honestly, I see no reason not to utilise the "desktop" database. The current phones/tablets probably have as much power (or more) as the PCs when GnuCash was starting and the line is getting blurrier by the day.
This leads to a conclusion that there is no reason for a mismatch in functionality between the applications. And this goes for all the single-user apps out there. So here's my vote for it.

[2017-05-30 10:48] MisterY commented on #492
Seems like you're missing the Google Repository component in the SDK?

[2017-06-06 03:33] wenxin-wang commented on #651
Seems that GnuCash is using `/index.php/ocs/cloud/user` for logging-in, but at least on NextCloud 11 the `GET` request will get 302 redirected to the login page (`/login`)

[2017-06-14 18:19] tshevchuk opened #692 "Add possibility to parse SMS from bank and show system notification message with proposal to insert new transaction"
1. Possibility to create some template of Bank account SMS of different types, assign different transaction templates to each
2. Show system notification on SMS receiving, allow to add new transation with one or few clicks

[2017-06-14 18:45] rivaldi8 opened #693 "Sometimes amounts are exported with double minus to QIF"
#### Steps to reproduce the behaviour
* Create EUR accounts and transactions with an italian android version (keypad for amount only shows commas as decimal separator)
* Export as QIF
* Try to import to GnuCash desktop

#### Expected behaviour
Import process should proceed without problems

#### Actual behaviour
* Import process complains about QIF file format
* Some split transactions have double

[2017-06-14 18:47] rivaldi8 commented on #655
Finally I could look into it. It was right in front of my face, the amounts written with `String.format` were the problematic ones.

I've opened another issue (#693) for the double minus problem. I haven't been able to reproduce it yet.

[2017-06-14 18:47] #655 closed

[2017-06-18 16:56] rivaldi8 commented on #693
Fixed by 2353957 in develop.

@codinguser I'm assuming here, as stated in `Split`'s javadoc, that splits always have positive amounts. However, there are some places where it seems it allows negative amounts ([example](https://github.com/rivaldi8/gnucash-android/blob/54d9149b7d47e145f71912ae72524081ed4f69f4/app/src/main/java/org/gnucash/android/model/Split.java#L89-L89)), which is confusing. If yo

[2017-06-18 16:56] #693 closed

[2017-06-18 19:11] codinguser commented on #343
Thanks for the input @MisterY
But isn't Payee `a person to whom money is paid or is to be paid, especially the person to whom a check is made payable`.
Would that not represent a conflict if in the future the app actually supports a Payee?

[2017-06-18 19:33] codinguser commented on #492
@strk if this issue is now fixed, could we close this?

[2017-06-18 19:51] codinguser commented on #651
@wenxin-wang are you referring to the "Save As.." functionality, or the logging in via ownCloud integration?

[2017-06-18 19:57] codinguser commented on #692
This would mean having banks adopt the format to send SMS right?

[2017-06-18 20:11] tshevchuk commented on #692
In my oppinion possible solution here is to create some UI for user to be able to enter pattern of SMS. For example it can be regular expression or some more easier user-friendly language like
`Your transaction: * VISA/1234 {amount} USD Shop12345 *`
For such imaginary SMS:
`Your transaction: 2017-06-17 7:05:15 AM VISA/1234 45.50 USD Shop12345 balance 1234.56 USD`

Also user should be able to speci

[2017-06-18 20:14] MisterY commented on #343
Hi, @codinguser . While I can't comment on how the app will develop in the future and whether it will include additional fields, I am fairly certain that QIF will not include that field. So, here I was strictly speaking about QIF export and fields, and what to put in there. I, for example, am using Quicken and would like to import the transactions there.

Besides, I see no point in adding another

[2017-06-18 20:58] codinguser commented on #693
@rivaldi8 yes, you are correct in your assumption.
Splits should always be positive, and the type determines the effect of the split.

[2017-06-18 21:03] codinguser commented on #343
@MisterY I see what you mean.
So my question would be, does GnuCash desktop import the QIF description correctly when the description is set to the Payee field. If it works there, then we can implement it. Because our goal is to maximise compatibility with GnuCash desktop.

[2017-06-18 21:12] MisterY commented on #343
Yes, this is something to be confirmed. Having both Description and Notes fields makes Payee unnecessary. Either that or one of the other fields​ would be redundant.
I'll check tomorrow. If not, it would rather call for a bug report on the side of the desktop application, I believe.

[2017-06-18 21:16] codinguser commented on #692
@tshevchuk While this would be nice to have, I do not think it would be a worthwhile investment of the limited time we have.
We would have to define a format, make it known so users can adapt it to their messages. Then come other challenges like how time is written differently in different places, etc. Just getting a format that works reliably everywhere would be huge effort for both us and users.

[2017-06-19 04:44] tshevchuk opened #694 "Add possibility to export to beancount file format"
I'm using gnucash-android application on mobile and  fava https://beancount.github.io/fava/  application on desktop. I'm exporting gnucash files in qif format and converting it to beancount format using my short script https://gist.github.com/tshevchuk/e5d91781d168dd8b9f3409497abf6252 .

I propose to add beancount format as an option of exporting.

[2017-06-19 05:15] storyjesse commented on #503
Great to see this feature has been started! Well done and thank you! :-)
If my programming expertise wasn't limited to bash and .ods sheet formulae I'd give you a hand. I'd be willing to contribute some $$ as an incentive though.

[2017-06-19 07:10] strk commented on #492
I don't have a build environment anymore so cannot verify.
Feel free to close.

[2017-06-19 07:42] milankni commented on #343
I use also OFX as intermediary (from CSV to OFX with the help of "ofxstatement" and eventually manual import to GnuCash) and AFAIK:
[code]
I would call it a bastardisation, too. Having separate Payee, Description and Note in GnuCash would be nice, but that's another story.

[2017-06-19 09:44] MisterY commented on #343
@milankni, thanks for the confirmation.
While having both Description and Notes, in addition to Payee, would be handy, I believe that not all the fields are supported in QIF, unfortunately. Quicken also has a long memo field in addition to description and the payee, but I don't think that can be transferred via .qif file.
Still expecting some guidance as to how to move forward on this one. :)

[2017-06-19 15:31] #492 closed

[2017-06-19 15:48] rivaldi8 commented on #343
I've just checked. GnuCash desktop imports correctly the Payee as the transaction description. If both Payee (P) and Memo (M) fields are set, it imports them as the _Description_ and _Notes_ respectively.

So we should just change to use Payee for the description and add the Memo field for notes.

[2017-06-22 13:48] pnemonic78 opened #695 "Bug: Long list of splits not fully visible"
#### Steps to reproduce the behaviour
1. Select existing account
1. Select existing transaction with **many** splits

#### Expected behaviour
Scroll down to see splits

#### Actual behaviour
No scrolling.

#### Software specifications
* GnuCash Android version: 2.2.0
* System Android version: 6.0
* Device type: Samsung Note 4

[2017-06-24 18:17] codinguser commented on #695
oops

[2017-06-24 19:34] codinguser opened #696 "Zip multiple exported QIF files into one for all export destinations"
#### Steps to reproduce the behaviour
1. Export transactions with multiple currencies as QIF to ownCloud
2. View files at destination

#### Expected behaviour
3. One zip file containing all exported files

#### Actual behaviour
3. One QIF per currency at destination

#### Software specifications
* GnuCash Android version: all
* System Android version: all
* Device type: all

[2017-06-26 12:12] pnemonic78 opened #699 "Transaction details screen footer disappears"
#### Steps to reproduce the behaviour
1. Click on existing transaction
1. Click on edit transaction FAB
1. Click on splits icon
1. Add a split
1. Click "save"
1. Click "save" again

#### Expected behaviour
Footer visible.

#### Actual behaviour
Footer removed (balance and date).

#### Software specifications
* GnuCash Android version: 2.2.0
* System Android version: 6.0
* Device type: Any

[2017-06-26 12:28] pnemonic78 opened #701 "Split memos disappear"
#### Steps to reproduce the behaviour
1. Click on transaction
1. Click on edit FAB button
1. Click on split icon
1. Add memo to 1 or more splits
1. Click "save"
1. Click "save" again
1. Click on edit FAB button
1. Click on split icon

#### Expected behaviour
Splits have their memos.

#### Actual behaviour
Split do not have their memos anymore.

#### Software specifications
* GnuCash Android versio

[2017-06-26 13:25] pnemonic78 commented on #701
caused by commit 96a204564147d54ca0b2ec8b393fb5c3aa33c5d1

[2017-06-26 16:14] rivaldi8 commented on #695
Fixed in hotfix/patches by badbe14.

[2017-06-26 16:14] #695 closed

[2017-06-30 13:42] agalanin commented on #120
Works on Android 6.

[2017-06-30 13:42] #120 closed

[2017-07-02 08:12] pnemonic78 commented on #649
Seems to be fixed in version 2.2.0

[2017-07-03 09:40] sehucke commented on #651
You can use the "Send to..." export target for use with the Nextcloud app. It is not that much convenient (you have to choose the upload folder each time) but it works.

IMHO, this is a more general solution and should work with other cloud storages as well - as long as they provide an Android client. ;-)

[2017-07-03 17:36] rivaldi8 commented on #701
Merged into hotfix/patches (957ae86). Thanks!

[2017-07-03 17:36] #701 closed

[2017-07-04 16:07] rivaldi8 commented on #689
Fixed in hotfix/patches (9543006).

[2017-07-04 16:07] #689 closed

[2017-07-04 16:34] rivaldi8 commented on #699
Fixed in hotfix/patches (c18b040).

[2017-07-04 16:34] #699 closed

[2017-07-07 17:13] rivaldi8 commented on #343
Fixed in hotfix/patches.

[2017-07-07 17:13] #343 closed

[2017-07-15 08:37] Johnjustdoit commented on #651
Did you set a new APP-Pin for gnucash in the nextcloud settings in the webpanel?

[2017-07-15 09:47] Johnjustdoit commented on #651
Go to the nextcloud webpanel->press your nickname in the top right-> personal.
Then set a new APP-PIN and copy the new passwort. Paste the passwort into the gnucash panel with your nextcloud Nickname and your Serveradress.

[2017-07-15 11:01] poVoq commented on #651
AFAIK the app pin should only be necessary if an external auth system like SAML or LDAP is used in Nextcloud and thus no password is stored in the Nextcloud database.

[2017-07-16 09:32] sehucke commented on #651
@poVoq @Johnjustdoit : An app pin is necessary if you activated TOTP for your user. AFAIK, it is fully transparent to the client if you enter your password or an app pin.

Just do as follows:
1. Log into your Nextcloud Android client with your password.
1. Activate TOTP via web interface.
1. Watch your Android client mourn about invalid credentials.
1. Create an app pin and use that pin instead of

[2017-07-16 10:02] Johnjustdoit commented on #651
Thank you for clearing it up!
I found a workaround to sync it automatically in my private network. (Should also work with a nextcloud reachable in the www)
I use the app Foldersync Pro (3,19€) and the app tasker (2,99€). First I set a periodic export in GnuCash to my SD Card. Then I set a task in tasker to sync all my previous added syncronisations(GnuCash, Photos,...etc) in FolderSync when my pho

[2017-07-16 10:12] sehucke commented on #651
Yep, that should do the trick. :-)

Nevertheless, the NC Android client v1.5 (and above) has the potential to render this toolchain obsolete. See nextcloud/android#285 (it is a meta ticket gathering the work done in separate tickets).

[2017-07-17 14:28] denysvitali commented on #651
I'm having the exact same problem with Nextcloud 11.0.3. @sehucke tip didn't work (I don't have 2FA enabled atm, which may be the cause)

[2017-07-17 20:11] sehucke commented on #651
Which tip did you mean @denysvitali ? I suppose you are referring to https://github.com/codinguser/gnucash-android/issues/651#issuecomment-315597218 ? My explanation of app pin usage was not meant to be a tip for getting GnuCash to work with NC. I tried to explain the exact opposite: _It does not matter if you use your password or an app pin inside GnuCash. The client does **not** know there is a

[2017-07-17 20:13] denysvitali commented on #651
I'm already working on a fix to integrate NextCloud into GnuCash...
I thought NC and OC had the same authentication mechanism

[2017-07-24 20:14] codinguser commented on #649
@pnemonic78 so I can close this issue?

[2017-07-24 20:17] pnemonic78 commented on #649
Close as non-reproducable

[2017-07-24 20:34] codinguser commented on #649
Can't reproduce.

[2017-07-24 20:34] #649 closed

[2017-07-30 17:17] codinguser opened #707 "[UNVERIFIED] Update ownCloud library version"
[USER REPORT]
#### Steps to reproduce the behaviour
I've been testing out OwnCloud and NextCloud support, and I have a question. Exporting to OwnCloud appears to work, but NextCloud doesn't. I've set up OwnCloud and NextCloud to use the same username and password, and with OwnCloud, it says "OC server OK", "OC username/password OK", "Dir name OK". When I change the URL to the NextCloud install, it

[2017-07-30 17:25] codinguser opened #708 "[UNVERIFIED] Crash when opening transactions"
#### Steps to reproduce the behaviour
1. tapping on the transaction card in my bank account and can't check the balance after each transaction. I've got two bank accounts where this happens.
#### Expected behaviour
2. Transaction detail view opens

#### Actual behaviour
2. App crashes

Strangely the cash account doesn't have this problem!.

#### Software specifications
* GnuCash Android version: 2

[2017-07-30 18:10] codinguser opened #709 "Migrate Dropbox SDK to v3.0.3"
Hello,

We are reaching out to you because we have discovered an issue with the Dropbox API v2 Java SDK that your app is currently using. Although the issue does not break any existing behavior, it limits our ability to make non-breaking changes to our API endpoints going forward.

For that reason, we ask that you update your app to the latest version of the SDK within the next two months. This bu

[2017-07-31 15:48] codinguser opened #712 "Automatically delete older backups after some time"
#### Steps to reproduce the behaviour
1. For larger databases, it daily backup can fill the device space fast.

#### Expected behaviour
2. Delete older backups after a WEEK for daily backups OR delete weekly backups older than a month for MONTHLY backups

#### Actual behaviour
2. Backups are kept forever

#### Software specifications
* GnuCash Android version: 2.2.0
* System Android version: all
*

[2017-08-02 18:23] 5nafu commented on #651
With Nextcloud 12 I could successfully work around the Issue with an entry in my webserver config (in this case apache2 with virtualhosts):
[code]

[2017-08-02 21:54] rivaldi8 commented on #696
Fixed in develop (c4f6a26).

[2017-08-02 21:54] #696 closed

[2017-08-15 02:02] BroMattMiller opened #715 "Transaction Time Lost on Export/Import With PC"
#### Steps to reproduce the behaviour
1. Create transactions, including varying times along with the dates.

2. Perform a full xml export and import into the PC version, making an edit to the books on the PC.

3. Import  from the PC back into the Android version.

#### Expected behaviour
All transactions should come back into the Android version with unchanged dates / times, or at least all the tr

[2017-08-18 06:54] mutedbytes opened #716 "Mutual fund, stock, other "XXX currency" assets are not calculated."
#### Steps to reproduce the behaviour
1. Create asset type accounts with underlying stock or mutual fund type accounts.
2. Buy or sell "XXX - no currency" of mutual fund or stock, exchange rate is prompted.
3. Stock or fund asset value is not shown in parent accounts or in each fund or stock account (no $ value or # of shares is shown).

#### Expected behaviour
It should be expected that asset val

[2017-08-18 07:00] mutedbytes opened #717 ""Buy" and "Sell" appear to be reversed for mutual fund/stock type asset transactions."
#### Steps to reproduce the behaviour
Behavior is produced when creating a transaction under a mutual fund or stock asset type account and using "XXX - no currency" to buy or sell shares.

#### Expected behaviour
When creating a transaction to "buy" stock under a stock defined account, using funds from an income account for example, I would expect the transaction to increase the income account by

[2017-08-28 12:50] codinguser commented on #716
Thanks for the bug report @mutedbytes
Sorry, but the app does not support stock or mutual fund type accounts.
The account types are only listed there to support importing data from GnuCash desktop without messing it up. But the app doesn't have any support for those account types.

[2017-08-28 12:50] #716 closed

[2017-08-28 12:53] codinguser commented on #717
Sorry, the app does not support transaction manipulations in stock and mutual fund accounts at this time.

[2017-08-28 12:53] #717 closed

[2017-09-03 20:31] mutedbytes opened #721 "(Monthly) Scheduled transactions do not appear to follow intended schedule"
#### Steps to reproduce the behaviour
1. Create monthly scheduled transaction, set to repeat on "same day each month"
2. Create a 2nd monthly schedule transaction, but on a different date

#### Expected behaviour
I would expect the first scheduled transaction to repeat every month on specified date of transaction 1, and the second schedule transaction to occur later the following month on the diff

[2017-09-04 07:48] cmburg opened #723 "New transaction is not saved correctly (sign issue)"
#### Steps to reproduce the behaviour
1. In an account (type bank) add a new transaction using the orange button.
2. type any amount you like (eg 10000 as deposit, the sign changes and the number becomes red)
3. Choose an account which has the type "expense"
4. Save
5. Go back to the account overview.

#### Expected behaviour
The amount has been substracted.

#### Actual behaviour
The amount has b

[2017-09-04 13:29] yohji opened #725 "Enhancement :: improvement in input view of transaction"
I would to suggest two possibile improvement for the input view of a new transaction:

* a new button for pre-fill the entire amount of the current account (useful for empty the account in favor of another account)

* a way to pre-fill the amount of the transation, as the difference between the current amount of the select account and a calculated *delta*, to reach a desired value (useful for acco

[2017-09-04 15:05] yohji commented on #725
I realize that the second one can be solved by just using the operation "-", in conjunction with the total amount of the current account (the first one request). I'm studing the code to implement the first one; I will pull it when/if it is ready. Thanks.

[2017-09-04 18:39] rivaldi8 commented on #723
@cmburg In step 2, is the switch next to the amount in green, with the text _Deposit_, and it changes to red _Withdrawal_ when you start typing the amount?

Have you changed the setting _Default Transaction Type_ in _Settings_ > _Transactions_? What's its value?

When you say:

Do you really mean **before** step 4? Or you mean you edit the transaction again and hit _split_?

It's strange because i

[2017-09-05 03:01] nicolelexo commented on #723
Hi, I've been having this problem too. I use a Xiaomi Mi Max. The switch does not change when I am typing the amount, the transactions I enter increase account balance regardless of whether it is a receive/spend transaction. This issue seems to have cropped up with the last update, at least for me.

[2017-09-05 03:04] nicolelexo commented on #723
As for settings, my default transaction type is Debit, when I changed it to Credit and did a spend transaction it deducts from account balance as expected. Is that the solution? What changed?

[2017-09-05 05:43] mutedbytes opened #726 "Asset accounts gets (-) negative sign prepended when editing, causing double negative"
#### Steps to reproduce the behaviour
1. Create a transaction to decrease amount in an asset account.
2. Click to edit the transaction, a (-) sign appears in front of red decreasing value
3. Click to save the edited transaction
4. -> error =  the "decrease" transaction now becomes a "negative decrease" resulting in a positive increase to the asset balance

This behavior occurred after changing def

[2017-09-05 15:36] rivaldi8 commented on #726
This has already been reported in #723. Please, add any further comments there. Thanks!

[2017-09-05 15:36] #726 closed

[2017-09-06 17:46] codinguser commented on #725
Alright. Remember to read our contribution guidelines: https://github.com/codinguser/gnucash-android/blob/master/.github/CONTRIBUTING.md

[2017-09-06 20:13] codinguser opened #727 "Decimal input not possible after autocompleting transaction fields"
#### Steps to Reproduce:
  1.  Navigate to Transactions screen
  2.  Tap the Add button
  3.  Enter Description, select from auto-complete options
  4.  Focus the Amount input

#### Expected Behavior:
  Normal entry including decimal point and arithmetic operations.

#### Actual Behavior:
  Only numeric digits are permitted, even when using an external keyboard for entry.

#### Software Specificat

[2017-09-06 22:07] codinguser opened #728 "[unverified] Crash when viewing transaction details with >4 nested account levels"
#### Steps to reproduce the behaviour
1.

#### Expected behaviour

#### Actual behaviour

#### Software specifications
* GnuCash Android version:
* System Android version:
* Device type:

[2017-09-06 22:19] codinguser commented on #723
@cmburg @nicolelexo we are trying to locate the problem and fix it. The first step is to replicate the problem, which I haven't managed to do so far. It would be great if you could provide us the following info:
- Are you using double-entry accounting? (Settings --> Transactions --> Activate Double Entry)
- What are the types of the accounts you are using when you see the issue (I am not able to r

[2017-09-07 04:43] mutedbytes commented on #723
@codinguser I invite you to also see my report/details in #726

[2017-09-07 09:33] codinguser commented on #723
@mutedbytes I saw your post, I followed the steps as best as I understood them and could not reproduce the problem.
I created a transaction in a new ASSET account, with the "Decrease" transaction type. The transfer account is EXPENSE. This added a negative sign to the amount value and shows it in red. When I save it, the balance of the account decreases as expected.  I've tried switching the defau

[2017-09-07 09:38] m8nky commented on #686
Hi, please let me share the findings regarding this issue. With version 2.2.1, the XML export is zipped, while the importer expects a plain XML file (uncompressed).

As workaround, until the bug is fixed, one can just unzip the exported file, before importing.

[2017-09-07 09:41] codinguser commented on #686
@m8nky Thanks for the report and the workaround. I think I have an idea where to look for the problem.
We will fix this for the next release. Normally, GnuCash Android should open even files which are gzipped.

[2017-09-07 15:33] cmburg commented on #723
@rivaldi8

At first both the number and the text is green and changes red when hitting withdrawal.

No.

It's in German 'Haben' but it's 'credit' in English. When I hit the button to change its value both radio buttons are empty/ not set.

Yes, my fault. I meant after 3 / before 4.

Tapping 'edit', split, save twice corrects the wrong transaction.

@codinguser

Yes.

A quick test with two accounts

[2017-09-07 16:45] rivaldi8 commented on #723
@codinguser Yes, I also thought I could depend on previous data, so I spent some time testing. Install a 2.2.0 version (pre-2353957), add some transactions, update to 2.2.1, add some transactions again and compare the results.

In the UI I always get the bank account balance increased. In the database all seems correct in the `splits` table. All amounts are positive and with the correct type (debi

[2017-09-07 17:17] nicolelexo commented on #723
@codinguser

Yes I am, I changed to Default --> Credit and it seems to have resolved itself, unless I key in old transactions (predictive) then it reverts to the same double negative problem.

I am using an Asset account I named Cash In Wallet and an Expense account Dining, I have not noticed any problems with other account types as I haven't really been spending on things other than food. Post sw

[2017-09-09 20:23] mutedbytes commented on #723
@codinguser Specifically, I see the bug occur when _editing_ one of these transactions.

[2017-09-12 00:16] BroMattMiller opened #729 "Memo not Saved Unless Three or More Splits"
#### Steps to reproduce the behaviour
1. Open the split editor for a simple transaction with only two splits.

2. Enter text into a Memo field.

3. Save the transaction.

#### Expected behaviour
There Memo text is there.

#### Actual behaviour
The Memo text is not there.

#### Software specifications
* GnuCash Android version: 2.2.0
* System Android version: 6.0.1
* Device type: Blackberry Priv

[2017-09-15 07:33] gutierri opened #730 "Save information to a file (gnucash xml)"
Similar to TODO.txt (android) where it saves the modifications to a file. It would be interesting to have the same "functionality" that would facilitate synchronization with other devices (with help with syncthink or some cloud service for example)

[2017-09-15 07:56] gutierri commented on #692
@codinguser In relation to the "debit" display, I believe there is a standard, for example in the US the values are represented as $100.00 in Brazil would be R$100,00 (one uses another comma). We could use a pattern that would be two houses behind the comma or point if it's number is a value to be extracted.

[2017-09-15 11:15] codinguser commented on #730
Your request is not clear (to me at least).
GnuCash Android can export to a file already.

[2017-09-16 01:08] gutierri commented on #730
@codinguser Yes, it can export, but every time we need to synchronize we have to export the XML file.

My example with TODO.txt (Android application) is that it saves a physical file on the smartphone and writes in this file, this is good because it is not necessary to be exporting but simply copy from the smartphone to other places.

[2017-09-16 18:20] hamidrjafari opened #731 "Persian currency symbol is doubled"
#### Steps to reproduce the behaviour
1. Choose IRR as currency symbol

#### Expected behaviour
It should show only one character currency symbol

#### Actual behaviour
It shows two consecutive IRR currency symbols

#### Software specifications
* GnuCash Android version: 2.1.7
* System Android version: 4.2.2
* Device type: Smart phone

Similar bug in the main application and the fix:
[Bug 787479](

[2017-09-17 09:29] yohji commented on #725
I propose the #732 pull request in response to this issue. Thanks.

[2017-09-17 14:31] dannywillems opened #733 "How to add currencies (like crypto)?"
I would like to manage my different crypto-wallets. FTM, I use XXX and I use the currency in the account name. Is it possible to add a user-defined currency?
At the end, I would like to be able to transfert between accounts with different currencies and mention a conversion rate. Is it possible now?

I'm motivated to help to contribute if I can have a brief description of the project and some advi

[2017-09-19 07:07] alexander-alzate commented on #723
Same problem here. It starts happening like four weeks ago in my device. At least then I realized my account balance was wrong.

Splitting the transaction, switching twice the direction and saving fixes the problem.

It affects the same way with new transactions and editing old ones.

[2017-09-19 16:36] rivaldi8 commented on #723
I still haven't been able to reproduce the issue, nor have I found what might be the cause. It would help if you could answer these questions. Thanks!

- Can you reproduce the issue from a new book (menu button > books drop-down > Manage books... > "+" button)? If you can, please, export it to XML and attach it here.
- What language are you using in your device?
- What's the main currency you are

[2017-09-19 22:02] cmburg commented on #723
No.

German

Just euro

[2017-09-20 19:22] cmburg opened #734 "General export seems to corrupt the backup"
#### Steps to reproduce the behaviour
    Transactions->Export
    Save As... (file in local device), Format (zip? -the standard setting)
    Export
    Open...

    Choose file from device.
    => 'An error occurred while importing the GnuCash accounts At line 1, column 2: not well-formed (invalid token)'

The error is both the same even when I try the zip or the (unzipped qif)

#### Expected beh

[2017-09-26 21:29] MisterY opened #736 "Feature Request: Asset Allocation"
The main obstacle to using GnuCash for Android (or GnuCash in general) would be inability to maintain asset allocation for investment accounts.
I am wondering if you would be open to implementing such a module in the Android version even though there is no such thing in the desktop application.
Since I implemented the same functionality in MoneyManagerEx for Android, I'd be willing to contribute c

[2017-09-27 07:03] MisterY opened #737 "Feature Request: Database Sync"
So far, people have been mostly asking about synchronizing their mobile database to desktop. Which is the most common need for any GnuCash user, naturally.

Here I would like to have synchronization between different Android devices. Meaning uploading the whole database to a cloud service and using it at another device.

Again, this is something I've worked on before (in MMEX) and would be happy t

[2017-09-28 11:47] codinguser commented on #730
@gutierri I see what you mean.
GnuCash Android works internally with a database where all accounts and transactions are stored and only creates an XML when you export.

If we want to work with purely with a file, it would mean loading all the contents (and they can be big) into memory each time the app opens and then dumping it when it closes (or if the app goes into the background for any reason)

[2017-09-28 11:48] codinguser commented on #731
Thanks for the bug report

[2017-09-28 12:38] codinguser commented on #733
@dannywillems Thanks for the feedback and willingness to contribute.
User-defined currencies are not hard to implement in the app. It would basically amount to adding a view to input the data and then adding a record in the database.

It is more of a question of if we should do it. BTC was added in a recent release and that was highly requested. I've not heard much for totally custom commodities.

[2017-09-28 14:42] codinguser commented on #737
We have been working in this direction for some time, just not quite gotten to it. There are lots of things to iron out along the way which set the stage for sync.

One thing I would like to have before any sort of sync is that the database schema of the Android app and [schema of desktop GnuCash](https://wiki.gnucash.org/wiki/SQL) should match. This would enable any sync work which is done to imm

[2017-09-28 15:19] MisterY commented on #737
Re: Sync Adaptor - Yes, that's exactly what I meant. I've seen reports that the background service doesn't work correctly on Android 8.

Database schema adjustment to match the desktop looks like more work to me. It does not have a direct effect to synchronisation feature except that it takes valuable time from available devs, I guess?

More importantly, I was using CloudRail to work with multiple